Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

codecov.yml:

codecov:
  token: a570973b-0fb7-4c26-867c-ce2fc9d7458e
  require_ci_to_pass: no

coverage:
  precision: 2
  range: "70...100"
  round: down
  status:
    project:
      default:
        target: auto
      controller:
        flags:
          - controller
      gui:
        flags:
          - gui
      common:
        flags:
          - common

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no
  after_n_builds: 3

flags:
  controller:
    paths:
      - software/controller
    carryforward: false
  gui:
    paths:
      - software/gui
    carryforward: false
  common:
    paths:
      - software/common
    carryforward: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

"oxygen venturi includes input tubing adapter, oxgen sensor and overpressure relief valve manifold STL reexported at good resolution; updates #1122" (#1128)
  manufacturing/internals/venturi/README.md
  manufacturing/internals/venturi/images/venturi_oxygen_influx.jpg
  manufacturing/internals/venturi/venturi.ipt
  manufacturing/internals/venturi/venturi/venturi-exhale.ipt
  manufacturing/internals/venturi/venturi/venturi-influx.ipt
  manufacturing/internals/venturi/venturi/venturi-o2.ipt
  manufacturing/internals/venturi/venturi/venturi-pizza.ipt
  manufacturing/internals/venturi/venturi_assembly.iam
  manufacturing/internals/venturi/venturi_assembly/Venturi Assembly-o2.iam
Due: none

"updated links to outputs on Google Drive; updates #1205"
  pcb/README.md
Due: none

Added STM32duino program for exercising hardware
  pcb/bringup-software/stm32_test.ino
Due: none

Update stm32_test.ino
  pcb/bringup-software/stm32_test.ino
Due: none

Add STM32duino test program for exercising hardware (#1183)
  pcb/bringup-software/stm32_test.ino
Due: none

"added drawing for enclosure left side assembly; updates #1099"
  manufacturing/enclosure/enclosure.iam
  manufacturing/enclosure/side.iam
  manufacturing/enclosure/side.ipt
  manufacturing/enclosure/side_assembly.idw
  manufacturing/enclosure/side_left.iam
  manufacturing/enclosure/side_left.ipt
  manufacturing/enclosure/side_left_assembly.idw
Due: none

"simplified controller readme; updates #1099"
  software/controller/README.md
Due: controller

Missing drawings for v0.4 enclosure (#1207)
  manufacturing/enclosure/enclosure.iam
  manufacturing/enclosure/side.iam
  manufacturing/enclosure/side.ipt
  manufacturing/enclosure/side_assembly.idw
  manufacturing/enclosure/side_left.iam
  manufacturing/enclosure/side_left.ipt
  manufacturing/enclosure/side_left_assembly.idw
  software/controller/README.md
Due: controller

"more repo binary cleanup; updates #1208"
  README.md
  manufacturing/README.md
  manufacturing/images/California_back.jpg
  manufacturing/images/California_front.jpg
  manufacturing/images/India_back.jpg
  manufacturing/images/India_full.jpg
  manufacturing/images/assembled_full.jpg
  manufacturing/images/rendering_full.jpg
  manufacturing/internals/README.md
  manufacturing/internals/images/bottom.jpg
  manufacturing/internals/images/rendering_full.jpg
  manufacturing/internals/images/top.jpg
  manufacturing/internals/manifold/README.md
  manufacturing/internals/mixer/README.md
  manufacturing/internals/pinch_valve/README.md
  manufacturing/wiring/README.md
  manufacturing/wiring/drawings/20210209_oxygen_sensor_cable_drawing.pdf
  manufacturing/wiring/drawings/20210224_blower_control_cable_drawing.pdf
  manufacturing/wiring/drawings/20210224_blower_power_cable_drawing.pdf
  manufacturing/wiring/drawings/20210224_psol_cable_drawing.pdf
  manufacturing/wiring/drawings/20210226_main_power_cable_drawing.pdf
  pcb/README.md
  pcb/VentilatorPCB-RevA-Angled-Render.jpg
  pcb/VentilatorPCB-RevA-Angled-Render.png
  pcb/sensor-daughterboards/pressure_mpxv5004dp/pressure_mpxv5004dp.step
  quality-assurance/README.md
  quality-assurance/assets/design-quality-presentation.pptx
  quality-assurance/assets/quality-plan.docx
  quality-assurance/assets/software_quality.pptx
  quality-assurance/testing/test_lung/README.md
  quality-assurance/testing/test_lung/assets/patient_tubing_adapter.stl
  software/gui/rpi-image/README.md
  software/gui/rpi-image/kernel-qemu-4.19.50-buster
  software/gui/rpi-image/versatile-pb-buster.dtb
Due: gui

"fixed dead links; updates #1208"
  manufacturing/internals/README.md
Due: none

More binary cleanup (#1209)
  README.md
  manufacturing/README.md
  manufacturing/images/California_back.jpg
  manufacturing/images/California_front.jpg
  manufacturing/images/India_back.jpg
  manufacturing/images/India_full.jpg
  manufacturing/images/assembled_full.jpg
  manufacturing/images/rendering_full.jpg
  manufacturing/internals/README.md
  manufacturing/internals/images/bottom.jpg
  manufacturing/internals/images/rendering_full.jpg
  manufacturing/internals/images/top.jpg
  manufacturing/internals/manifold/README.md
  manufacturing/internals/mixer/README.md
  manufacturing/internals/pinch_valve/README.md
  manufacturing/wiring/README.md
  manufacturing/wiring/drawings/20210209_oxygen_sensor_cable_drawing.pdf
  manufacturing/wiring/drawings/20210224_blower_control_cable_drawing.pdf
  manufacturing/wiring/drawings/20210224_blower_power_cable_drawing.pdf
  manufacturing/wiring/drawings/20210224_psol_cable_drawing.pdf
  manufacturing/wiring/drawings/20210226_main_power_cable_drawing.pdf
  pcb/README.md
  pcb/VentilatorPCB-RevA-Angled-Render.jpg
  pcb/VentilatorPCB-RevA-Angled-Render.png
  pcb/sensor-daughterboards/pressure_mpxv5004dp/pressure_mpxv5004dp.step
  quality-assurance/README.md
  quality-assurance/assets/design-quality-presentation.pptx
  quality-assurance/assets/quality-plan.docx
  quality-assurance/assets/software_quality.pptx
  quality-assurance/testing/test_lung/README.md
  quality-assurance/testing/test_lung/assets/patient_tubing_adapter.stl
  software/gui/rpi-image/README.md
  software/gui/rpi-image/kernel-qemu-4.19.50-buster
  software/gui/rpi-image/versatile-pb-buster.dtb
Due: gui

More binary cleanup (#1209)
  README.md
  manufacturing/README.md
  manufacturing/images/California_back.jpg
  manufacturing/images/California_front.jpg
  manufacturing/images/India_back.jpg
  manufacturing/images/India_full.jpg
  manufacturing/images/assembled_full.jpg
  manufacturing/images/rendering_full.jpg
  manufacturing/internals/README.md
  manufacturing/internals/images/bottom.jpg
  manufacturing/internals/images/rendering_full.jpg
  manufacturing/internals/images/top.jpg
  manufacturing/internals/manifold/README.md
  manufacturing/internals/mixer/README.md
  manufacturing/internals/pinch_valve/README.md
  manufacturing/wiring/README.md
  pcb/README.md
  pcb/VentilatorPCB-RevA-Angled-Render.jpg
  pcb/VentilatorPCB-RevA-Angled-Render.png
  quality-assurance/README.md
  quality-assurance/assets/design-quality-presentation.pptx
  quality-assurance/assets/quality-plan.docx
  quality-assurance/assets/software_quality.pptx
  quality-assurance/testing/test_lung/README.md
  software/gui/rpi-image/README.md
  software/gui/rpi-image/kernel-qemu-4.19.50-buster
  software/gui/rpi-image/versatile-pb-buster.dtb
Due: gui

fix debugvar names in debug scripts
  software/utils/debug/controller_debug.py
  software/utils/debug/scripts/valve_calibration.py
Due: none

Leave a todo to make the forced_[actuator]_setting names less generic
  software/controller/lib/actuators/actuator_base.h
Due: controller

Fix debugvar names in debug scripts (#1210)
  software/controller/lib/actuators/actuator_base.h
  software/utils/debug/controller_debug.py
  software/utils/debug/scripts/valve_calibration.py
Due: controller

Address todo to make "forced_[actuator]_setting" debugvar names less generic
  software/controller/integration_tests/buzzer_test.h
  software/controller/integration_tests/eeprom_test.h
  software/controller/integration_tests/psol_test.h
  software/controller/lib/actuators/actuator_base.cpp
  software/controller/lib/actuators/actuator_base.h
  software/controller/lib/actuators/pinch_valve.h
  software/controller/lib/actuators/pwm_actuator.h
  software/controller/lib/core/actuators.cpp
  software/controller/lib/core/actuators.h
  software/utils/debug/controller_debug.py
  software/utils/debug/scripts/valve_calibration.py
Due: controller

Address todo to make "forced_[actuator]_setting" debugvar names less generic (#1211)
  software/controller/integration_tests/buzzer_test.h
  software/controller/integration_tests/eeprom_test.h
  software/controller/integration_tests/psol_test.h
  software/controller/lib/actuators/actuator_base.cpp
  software/controller/lib/actuators/actuator_base.h
  software/controller/lib/actuators/pinch_valve.h
  software/controller/lib/actuators/pwm_actuator.h
  software/controller/lib/core/actuators.cpp
  software/controller/lib/core/actuators.h
  software/utils/debug/controller_debug.py
  software/utils/debug/scripts/valve_calibration.py
Due: controller

Rehash of minor changes from #1137
  software/common/README.md
  software/common/libs/checksum/checksum.cpp
  software/common/libs/checksum/checksum.h
  software/common/platformio.ini
  software/controller/README.md
  software/controller/integration_tests/pure_virtual.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/pure_virtual.cpp
  software/controller/lib/non_volatile/nvparams.cpp
  software/utils/debug/scripts/README.md
Due: controller, common

addresse review comments
  software/controller/README.md
Due: controller

address review comments
  software/controller/README.md
Due: controller

Rehash of minor changes from #1137 (#1213)
  software/common/README.md
  software/common/libs/checksum/checksum.cpp
  software/common/libs/checksum/checksum.h
  software/common/platformio.ini
  software/controller/README.md
  software/controller/integration_tests/pure_virtual.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/pure_virtual.cpp
  software/controller/lib/non_volatile/nvparams.cpp
  software/utils/debug/scripts/README.md
Due: controller, common

Abstract DMA channels and stop manipulating DMA registers directly
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/dma.cpp
  software/controller/lib/hal/dma.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/i2c.h
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/stepper.h
  software/controller/lib/hal/uart_dma.cpp
  software/controller/lib/hal/uart_dma.h
Due: controller

address reviewer's comments
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/dma.cpp
  software/controller/lib/hal/dma.h
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/i2c.h
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/uart_dma.cpp
Due: controller

Improve casting consistency in DMA::ChannelControl::Setupchannel
  software/controller/lib/hal/dma.cpp
Due: controller

more minor changes as self review
  software/controller/lib/hal/dma.cpp
  software/controller/lib/hal/dma.h
  software/controller/lib/hal/hal_stm32.cpp
Due: controller

Abstract DMA channels and stop client module from manipulating DMA registers directly (#1214)
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/dma.cpp
  software/controller/lib/hal/dma.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/i2c.h
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/stepper.h
  software/controller/lib/hal/uart_dma.cpp
  software/controller/lib/hal/uart_dma.h
Due: controller
