Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

codecov.yml:

codecov:
  token: a570973b-0fb7-4c26-867c-ce2fc9d7458e
  require_ci_to_pass: no

coverage:
  precision: 2
  range: "70...100"
  round: down
  status:
    project:
      default:
        target: auto
      controller:
        flags:
          - controller
      gui:
        flags:
          - gui
      common:
        flags:
          - common

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no
  after_n_builds: 3

flags:
  controller:
    paths:
      - software/controller
    carryforward: false
  gui:
    paths:
      - software/gui
    carryforward: false
  common:
    paths:
      - software/common
    carryforward: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

"factored out PWM and LEDIndicators from HAL; updates #1173"
  software/controller/lib/core/actuators.cpp
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/led_indicators.cpp
  software/controller/lib/hal/led_indicators.h
  software/controller/lib/hal/pwm.cpp
  software/controller/lib/hal/pwm.h
  software/controller/lib/hal/uart_dma.cpp
Due: controller

"calibration tests fixed, some cleanup of hal.h; updates #1173"
  software/controller/integration_tests/blower_test.h
  software/controller/integration_tests/buzzer_test.h
  software/controller/integration_tests/eeprom_test.h
  software/controller/integration_tests/psol_test.h
  software/controller/lib/hal/hal.h
  software/controller/platformio/device_lookup_table.txt
Due: controller

"got rid of complementary TEST_MODE flag, mock functions moved into separate implementation file; updates #1173"
  software/controller/lib/core/nvparams.cpp
  software/controller/lib/hal/adc.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_mock.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/hal_stm32.h
  software/controller/lib/hal/i2c.h
  software/controller/lib/hal/led_indicators.h
  software/controller/lib/hal/pwm.h
  software/controller/lib/hal/uart_dma.h
  software/controller/platformio.ini
  software/controller/src/pure_virtual.cpp
Due: controller

"some stepper and system timer fixup; updates #1173"
  software/common/libs/units/units.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/stepper.h
Due: controller, common

"factored out system timer; updates #1173"
  software/controller/integration_tests/blower_test.h
  software/controller/integration_tests/idle_test.h
  software/controller/lib/core/comms.cpp
  software/controller/lib/core/nvparams.cpp
  software/controller/lib/core/pinch_valve.cpp
  software/controller/lib/core/sensors.cpp
  software/controller/lib/debug/interface.cpp
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_mock.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/stepper.h
  software/controller/lib/hal/system_timer.cpp
  software/controller/lib/hal/system_timer.h
  software/controller/src/main.cpp
Due: controller

"system timer refactoring complete, errors fixed; updates #1173"
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/system_timer.cpp
  software/controller/lib/hal/system_timer.h
  software/controller/platformio/build_config/auto_firmware_version.py
Due: controller

"fixed unit and integration tests to work with new system timer implementation; updates #1173"
  software/controller/integration_tests/blower_test.h
  software/controller/integration_tests/buzzer_test.h
  software/controller/integration_tests/eeprom_test.h
  software/controller/integration_tests/pinch_valve_test.h
  software/controller/integration_tests/psol_test.h
  software/controller/integration_tests/stepper_test.h
  software/controller/test/blower_fsm/blower_fsm_test.cpp
  software/controller/test/comms/comms_test.cpp
  software/controller/test/controller/controller_test.cpp
  software/controller/test/debug/interface_test.cpp
  software/controller/test/sensor_tests/sensors_test.cpp
Due: controller

Refactor system timer in HAL (#1177)
  software/controller/integration_tests/blower_test.h
  software/controller/integration_tests/buzzer_test.h
  software/controller/integration_tests/eeprom_test.h
  software/controller/integration_tests/idle_test.h
  software/controller/integration_tests/pinch_valve_test.h
  software/controller/integration_tests/psol_test.h
  software/controller/integration_tests/stepper_test.h
  software/controller/lib/core/comms.cpp
  software/controller/lib/core/nvparams.cpp
  software/controller/lib/core/pinch_valve.cpp
  software/controller/lib/core/sensors.cpp
  software/controller/lib/debug/interface.cpp
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_mock.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/stepper.h
  software/controller/lib/hal/system_timer.cpp
  software/controller/lib/hal/system_timer.h
  software/controller/platformio/build_config/auto_firmware_version.py
  software/controller/src/main.cpp
  software/controller/test/blower_fsm/blower_fsm_test.cpp
  software/controller/test/comms/comms_test.cpp
  software/controller/test/controller/controller_test.cpp
  software/controller/test/debug/interface_test.cpp
  software/controller/test/sensor_tests/sensors_test.cpp
Due: controller

"factored out watchdog; updates #1173"
  software/controller/integration_tests/blower_test.h
  software/controller/integration_tests/pinch_valve_test.h
  software/controller/integration_tests/psol_test.h
  software/controller/integration_tests/stepper_test.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_mock.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/hal_stm32_regs.h
  software/controller/lib/hal/watchdog.cpp
  software/controller/lib/hal/watchdog.h
  software/controller/src/main.cpp
Due: controller

"some i2c fixup, more hal cleanup; updates #1173"
  software/controller/integration_tests/blower_test.h
  software/controller/integration_tests/buzzer_test.h
  software/controller/integration_tests/eeprom_test.h
  software/controller/integration_tests/psol_test.h
  software/controller/lib/core/actuators.cpp
  software/controller/lib/core/controller.h
  software/controller/lib/hal/gpio.cpp
  software/controller/lib/hal/gpio.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_mock.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/i2c.h
  software/controller/lib/sensors/sensor_base.cpp
  software/controller/test/sensor_tests/sensors_test.cpp
Due: controller

"pruned infludes, naming conventions, TODOs for future improvements; updates #1173"
  software/controller/integration_tests/psol_test.h
  software/controller/lib/core/actuators.cpp
  software/controller/lib/core/comms.cpp
  software/controller/lib/core/flow_integrator.cpp
  software/controller/lib/core/flow_integrator.h
  software/controller/lib/core/nvparams.cpp
  software/controller/lib/core/pinch_valve.cpp
  software/controller/lib/debug/commands.h
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/adc.h
  software/controller/lib/hal/buzzer.cpp
  software/controller/lib/hal/buzzer.h
  software/controller/lib/hal/clocks.cpp
  software/controller/lib/hal/eeprom.cpp
  software/controller/lib/hal/eeprom.h
  software/controller/lib/hal/flash.cpp
  software/controller/lib/hal/flash.h
  software/controller/lib/hal/hal.cpp
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_mock.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/i2c.h
  software/controller/lib/hal/led_indicators.h
  software/controller/lib/hal/psol.cpp
  software/controller/lib/hal/psol.h
  software/controller/lib/hal/pwm.cpp
  software/controller/lib/hal/pwm.h
  software/controller/lib/hal/spi.h
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/system_timer.cpp
  software/controller/lib/hal/timers.h
  software/controller/lib/hal/uart.h
  software/controller/lib/sensors/sensor_base.cpp
  software/controller/test/debug/interface_test.cpp
  software/controller/test/psol/psol_test.cpp
Due: controller

"uart_dma fixed, function naming style, some warnings eliminated; updates #1173"
  software/controller/integration_tests/blower_test.h
  software/controller/integration_tests/buzzer_test.h
  software/controller/integration_tests/eeprom_test.h
  software/controller/integration_tests/idle_test.h
  software/controller/integration_tests/pinch_valve_test.h
  software/controller/integration_tests/psol_test.h
  software/controller/integration_tests/stepper_test.h
  software/controller/lib/core/comms.cpp
  software/controller/lib/core/nvparams.cpp
  software/controller/lib/core/pinch_valve.cpp
  software/controller/lib/core/sensors.cpp
  software/controller/lib/debug/interface.cpp
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/adc.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/system_timer.cpp
  software/controller/lib/hal/system_timer.h
  software/controller/lib/hal/uart.h
  software/controller/lib/hal/uart_dma.cpp
  software/controller/lib/hal/uart_dma.h
  software/controller/src/main.cpp
  software/controller/test/blower_fsm/blower_fsm_test.cpp
  software/controller/test/comms/comms_test.cpp
  software/controller/test/controller/controller_test.cpp
  software/controller/test/debug/interface_test.cpp
  software/controller/test/sensor_tests/sensors_test.cpp
Due: controller

PDFs of part drawings. Assembly drawings will be added
  manufacturing/enclosure/back.pdf
  manufacturing/enclosure/bottom.pdf
  manufacturing/enclosure/front.pdf
  manufacturing/enclosure/side_left.pdf
  manufacturing/internals/back_panel/back_panel_acrylic.pdf
  manufacturing/internals/display_panel/display_support_frame.pdf
  manufacturing/internals/electronics/electronics_support_frame.pdf
  manufacturing/internals/filter_panel/filter_panel_acrylic_plate.pdf
Due: none

"addressing PR review; updates #1173"
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/adc.h
  software/controller/lib/hal/buzzer.cpp
  software/controller/lib/hal/hal_stm32.cpp
Due: controller

"precommit hook updated to use our own fork repo; updates #1173"
  .gitignore
  .pre-commit-config.yaml
Due: none

"updated install and build scripts for ubuntu 21.04; updates #866"
  software/gui/gui.sh
Due: gui

"run qmake with version specifier; updates #866"
  .circleci/gui_tests_Dockerfile
  software/gui/gui.sh
Due: gui

"run bear with verbose; updates #866"
  software/gui/gui.sh
Due: gui

"switched GUI build image to hirsute; updates #866"
  .circleci/config.yml
Due: none

"get bear help; updates #866"
  software/gui/gui.sh
Due: gui

"do not run with bear if no static checks; updates #866"
  software/gui/gui.sh
Due: gui

"get bear version; updates #866"
  software/gui/gui.sh
Due: gui

"do not force submodule update; updates #866"
  software/gui/gui.sh
Due: gui

"some warnings fixed, modernized include guards and added license headers; updates #866"
  software/gui/src/alarm_manager.h
  software/gui/src/breath_signals.h
  software/gui/src/chrono.h
  software/gui/src/connected_device.h
  software/gui/src/controller_history.h
  software/gui/src/gui_state_container.cpp
  software/gui/src/gui_state_container.h
  software/gui/src/latching_alarm.h
  software/gui/src/logger.cpp
  software/gui/src/logger.h
  software/gui/src/patient_detached_alarm.h
  software/gui/src/periodic_closure.cpp
  software/gui/src/periodic_closure.h
  software/gui/src/pip_exceeded_alarm.h
  software/gui/src/pip_not_reached_alarm.h
  software/gui/src/respira_connected_device.h
  software/gui/src/simple_clock.h
  software/gui/src/time_series_graph.h
  software/gui/src/time_series_graph_painter.cpp
  software/gui/src/time_series_graph_painter.h
  software/gui/tests/breath_signals_test.h
  software/gui/tests/latching_alarm_test.h
  software/gui/tests/logger_test.h
  software/gui/tests/patient_detached_alarm_test.h
  software/gui/tests/tst_main.cpp
Due: gui

"update submodules; updates #866"
  software/gui/gui.sh
Due: gui

"added resource class for gui workflow; updates #866"
  .circleci/config.yml
Due: none

"gui CI build no longer verbose; updates #866"
  .circleci/gui_tests_Dockerfile
Due: none

Move pure_virtual to core so it can be seen by all
  software/controller/lib/hal/pure_virtual.cpp
  software/controller/lib/hal/uart_dma.h
Due: controller

Add frame detector and acompanying RxBuffers
  software/common/libs/framing/frame_detector.h
  software/common/libs/framing/soft_rx_buffer.h
  software/controller/lib/hal/rx_buf_uart_dma.h
  software/controller/test/frame_detector/frame_detector_test.cpp
Due: controller, common

Rebase renaming. Also some renaming due to code review
  software/common/libs/framing/frame_detector.h
  software/controller/test/frame_detector/frame_detector_test.cpp
Due: controller, common

Add FrameDetector documentation
  software/common/libs/framing/frame_detector.h
Due: common

Add more tests
  software/controller/test/frame_detector/frame_detector_test.cpp
Due: controller

reset frame_available flag on Begin, add more comments
  software/common/libs/framing/frame_detector.h
Due: common

Refactor to remove dublicatad code
  software/controller/test/frame_detector/frame_detector_test.cpp
Due: controller

Refactor FrameDetector to avoid side effects when the start marker was discarded.
  software/common/libs/framing/frame_detector.h
Due: common

Some renaming and refactoring
  software/common/libs/framing/frame_detector.h
Due: common

Add more testing infrastructure
  software/controller/test/frame_detector/frame_detector_test.cpp
Due: controller

Create new fx_buffer for each test. Add more tests.
  software/controller/test/frame_detector/frame_detector_test.cpp
Due: controller
