Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

"disabled second pinch valve; updates #1293"
  software/controller/lib/core/v03system.cpp
  software/controller/lib/core/v03system.h
Due: controller

"debug comms using new callback; updates #1293"
  software/common/libs/callbacks/callback.h
  software/controller/lib/core/v03system.cpp
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/uart_soft.cpp
  software/controller/lib/hal/uart_soft.h
Due: controller, common

"encapsulation of callback; updates #1293"
  software/common/libs/callbacks/callback.h
  software/controller/lib/core/v03system.h
  software/controller/lib/hal/uart_soft.cpp
Due: controller, common

pressure sensor mod
  software/controller/lib/core/system_constants.cpp
  software/controller/lib/core/v03system.h
Due: controller

"moving i2c over to callbacks; updates #1293"
  software/controller/lib/core/v03system.cpp
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/i2c.h
  software/controller/lib/hal/uart_soft.cpp
  software/controller/lib/hal/uart_soft.h
Due: controller

add stepper tests
  software/controller/integration_tests/pinch_valve_test.h
  software/controller/integration_tests/stepper_test.h
  software/controller/lib/core/v03system.cpp
  software/controller/lib/hal/spi.h
  software/controller/lib/hal/spi_chain.tpp
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/stepper.h
  software/controller/test/hal/test_spi_chain/daisy_chain_test.cpp
  software/controller/test/hal/test_stepper/stepper_test.cpp
  software/controller/test_libs/mocks/mock_spi.h
  software/controller/test_libs/mocks/mock_stepper.cpp
  software/controller/test_libs/mocks/mock_stepper.h
Due: controller

Update common.sh
  software/common/common.sh
Due: common

update gui.sh and controlelr.sh
  software/common/generated_libs/network_protocol/network_protocol.pb.c
  software/common/generated_libs/network_protocol/network_protocol.pb.h
  software/controller/controller.sh
  software/gui/gui.sh
  software/utils/network_protocol_pb2.py
Due: controller, gui, common

self review
  software/controller/lib/actuators/pinch_valve.cpp
  software/controller/lib/hal/stepper.cpp
  software/controller/test/hal/test_stepper/stepper_test.cpp
  software/controller/test_libs/mocks/mock_stepper.cpp
  software/controller/test_libs/mocks/mock_stepper.h
Due: controller

fix static checks warnings and integration tests
  software/controller/integration_tests/blower_test.h
  software/controller/integration_tests/buzzer_test.h
  software/controller/integration_tests/eeprom_test.h
  software/controller/integration_tests/idle_test.h
  software/controller/integration_tests/pinch_valve_test.h
  software/controller/integration_tests/psol_test.h
  software/controller/integration_tests/stepper_test.h
  software/controller/lib/hal/spi_chain.h
  software/controller/lib/hal/spi_chain.tpp
  software/controller/lib/hal/stepper.h
  software/controller/platformio/device_lookup_table.txt
Due: controller

address review comments
  software/controller/lib/actuators/stepper.cpp
  software/controller/lib/actuators/stepper.h
  software/controller/lib/core/v03system.cpp
  software/controller/lib/hal/spi_chain.h
  software/controller/lib/hal/spi_chain.tpp
  software/controller/lib/hal/spi_stm32.h
  software/controller/test/hal/test_spi_chain/daisy_chain_test.cpp
  software/controller/test/hal/test_stepper/stepper_test.cpp
  software/controller/test_libs/mocks/fake_stepper.cpp
  software/controller/test_libs/mocks/fake_stepper.h
Due: controller

Refactor stepper motors (#1296)
  software/controller/integration_tests/blower_test.h
  software/controller/integration_tests/buzzer_test.h
  software/controller/integration_tests/eeprom_test.h
  software/controller/integration_tests/idle_test.h
  software/controller/integration_tests/pinch_valve_test.h
  software/controller/integration_tests/psol_test.h
  software/controller/integration_tests/stepper_test.h
  software/controller/lib/actuators/pinch_valve.cpp
  software/controller/lib/actuators/pinch_valve.h
  software/controller/lib/actuators/stepper.cpp
  software/controller/lib/actuators/stepper.h
  software/controller/lib/core/v03system.cpp
  software/controller/lib/core/v03system.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/spi.h
  software/controller/lib/hal/spi_chain.h
  software/controller/lib/hal/spi_chain.tpp
  software/controller/lib/hal/spi_stm32.h
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/stepper.h
  software/controller/lib/hal/system_timer.cpp
  software/controller/lib/hal/system_timer.h
  software/controller/platformio/device_lookup_table.txt
  software/controller/test/hal/test_spi_chain/daisy_chain_test.cpp
  software/controller/test/hal/test_stepper/stepper_test.cpp
  software/controller/test_libs/mocks/fake_stepper.cpp
  software/controller/test_libs/mocks/fake_stepper.h
  software/controller/test_libs/mocks/mock_spi.h
Due: controller

CI resource class fix for debug-tests
  .circleci/config.yml
Due: none

print errors in red; check variable type using constant defined in varinfo
  software/utils/debug/debug_cli.py
Due: none

rudimentary lin() function for set debug cmd
  software/utils/debug/controller_debug.py
  software/utils/debug/debug_cli.py
Due: none

type checking and raising errors in VarInfo.to_bytes()
  software/utils/debug/var_info.py
Due: none

refactored float array analysis out of print var function
  software/utils/debug/debug_cli.py
Due: none

refactored to implement argparse in set var, and separate more syntax parsing from low-level controller_debug
  software/utils/debug/controller_debug.py
  software/utils/debug/debug_cli.py
  software/utils/debug/debug_funcs.py
Due: none

better exception handling for common user input validation errors
  software/utils/debug/debug_cli.py
Due: none

using eval() to process input data for set var
  software/utils/debug/controller_debug.py
  software/utils/debug/debug_cli.py
  software/utils/debug/debug_funcs.py
Due: none

handling raw string inputs
  software/utils/debug/controller_debug.py
  software/utils/debug/debug_cli.py
Due: none

unit testing debug_cli helper functions and adding tests to CI
  .circleci/config.yml
  software/utils/debug/unit_test.py
Due: none

moving value formatting to more appropriate step in get var flow
  software/utils/debug/debug_cli.py
Due: none

float array linearity check in var get cmd
  software/utils/debug/debug_cli.py
Due: none

better errors to user for input mistakes, DebugFunctions return arrays, and type checking input
  software/utils/debug/controller_debug.py
  software/utils/debug/debug_cli.py
  software/utils/debug/debug_funcs.py
Due: none

pytest dependency for debug unit testing CI
  software/controller/controller.sh
Due: controller

fmt argument in variables_get; refactored CLI get command logic
  software/utils/debug/controller_debug.py
  software/utils/debug/debug_cli.py
Due: none

print error message without printing stack trace
  software/utils/debug/debug_cli.py
Due: none

simplifying error handling in debug CLI set var
  software/utils/debug/debug_cli.py
Due: none

simplified eval() call by creating a scoped_eval function
  software/utils/debug/debug_cli.py
  software/utils/debug/debug_funcs.py
Due: none

using exec to simplify high level function calls from set var
  software/utils/debug/controller_debug.py
  software/utils/debug/debug_cli.py
  software/utils/debug/debug_funcs.py
Due: none

verbose behavior for floatarrays
  software/utils/debug/debug_cli.py
  software/utils/debug/debug_funcs.py
  software/utils/debug/var_info.py
Due: none

removed some automatically added redundant dependencies, cleaned up TODOs
  software/utils/debug/controller_debug.py
  software/utils/debug/debug_cli.py
Due: none

redundant dependency for DebugFunctions in var_info
  software/utils/debug/var_info.py
Due: none

unnecessary debug_funcs dependency in controller_debug
  software/utils/debug/controller_debug.py
Due: none

floatarrays show linearity in get var
  software/utils/debug/debug_cli.py
Due: none

added pip install numpy to controller.sh host setup
  software/controller/controller.sh
Due: controller

supported whitespace in high level function's arguments
  software/utils/debug/controller_debug.py
  software/utils/debug/debug_cli.py
Due: none

removed re dependency
  software/utils/debug/debug_cli.py
Due: none

Path conditions:
  controller: any of: software/controller
  gui: any of: software/gui
  common: any of: software/common
