Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

codecov.yml:

codecov:
  token: a570973b-0fb7-4c26-867c-ce2fc9d7458e
  require_ci_to_pass: no

coverage:
  precision: 2
  range: "70...100"
  round: down
  status:
    project:
      default:
        target: auto
      controller:
        flags:
          - controller
      gui:
        flags:
          - gui
      common:
        flags:
          - common

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no
  after_n_builds: 3

flags:
  controller:
    paths:
      - software/controller
    carryforward: false
  gui:
    paths:
      - software/gui
    carryforward: false
  common:
    paths:
      - software/common
    carryforward: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

Added instructions for the RPi imager setup (#1200)
  software/utils/rpi_config/README.md
Due: none

tubing run for 60 degree config created, needs barbs still; updates #1019
  manufacturing/internals/README.md
  manufacturing/internals/custom_tubing_adapters/README.md
  manufacturing/internals/custom_tubing_adapters/tube60deg.jpg
  manufacturing/internals/custom_tubing_adapters/tube90deg.jpg
  manufacturing/internals/custom_tubing_adapters/u_bend_tubing_adapter.ipt
Due: none

tubing run for 60 degree config created, needs barbs still; updates #1019 (#1038)
  manufacturing/internals/README.md
  manufacturing/internals/custom_tubing_adapters/README.md
  manufacturing/internals/custom_tubing_adapters/tube60deg.jpg
  manufacturing/internals/custom_tubing_adapters/tube90deg.jpg
  manufacturing/internals/custom_tubing_adapters/u_bend_tubing_adapter.ipt
Due: none

Renderings
  manufacturing/images/ventilator hospital render 01.png
  manufacturing/images/ventilator render 01.png
  manufacturing/images/ventilator render 02.png
  ventilator_hospital_render_01.jpg
  ventilator_render_01.jpg
  ventilator_render_02.jpg
Due: none

Renderings
  manufacturing/images/ventilator hospital render 01.png
  manufacturing/images/ventilator render 01.png
  manufacturing/images/ventilator render 02.png
  manufacturing/images/ventilator_hospital_render.jpg
  ventilator_render_01.jpg
  ventilator_render_02.jpg
Due: none

Initial draft
  pcb/indicator-board/bom.ini
  pcb/indicator-board/fp-lib-table
  pcb/indicator-board/indicator-board.kicad_pcb
  pcb/indicator-board/indicator-board.pro
  pcb/indicator-board/indicator-board.sch
  pcb/indicator-board/sym-lib-table
Due: none

LED indicator board (#1250)
  pcb/indicator-board/bom.ini
  pcb/indicator-board/fp-lib-table
  pcb/indicator-board/indicator-board.kicad_pcb
  pcb/indicator-board/indicator-board.pro
  pcb/indicator-board/indicator-board.sch
  pcb/indicator-board/sym-lib-table
Due: none

adding wireviz YAML file for power entry harness
  manufacturing/wiring/wiring-v0.4-power-entry.yml
Due: none

modified to use pre-crimped leads
  manufacturing/wiring/images/wiring-v0.4-power-entry.png
  manufacturing/wiring/wiring-v0.4-power-entry.yml
Due: none

updates Main Power harness readme documentation for V0.4
  manufacturing/wiring/README.md
Due: none

adds item A25 to the BOM: 4.7mm QC terminal for main power harness
  manufacturing/wiring/README.md
Due: none

adding link to google drive
  manufacturing/wiring/README.md
Due: none

corrections based on comments from @dcstraney: kycon receptacle pinout updated and image added to clarify for assembly.
  manufacturing/wiring/images/wiring-v0.4-power-entry.png
  manufacturing/wiring/wiring-v0.4-power-entry.yml
Due: none

added pinout image
  manufacturing/wiring/images/KyconPinout-KPJX-PM-4S.png
Due: none

"migrated main power wiring to sphinx; updates #1260"
  .github/workflows/docs.yml
  docs/README.md
  docs/assets/my_theme.css
  docs/conf.py
  docs/contributing/contributing.rst
  docs/index.rst
  docs/process/index.rst
  docs/purchasing/.gitignore
  docs/purchasing/README.md
  docs/purchasing/index.rst
  docs/purchasing/make_parts.py
  docs/purchasing/make_parts.sh
  docs/purchasing/numbering-schema.rst
  docs/purchasing/parts.json
  docs/purchasing/purchasing-guidelines.rst
  docs/wiring/.gitignore
  docs/wiring/README.md
  docs/wiring/decorate_table.py
  docs/wiring/images/KyconPinout-KPJX-PM-4S.png
  docs/wiring/index.rst
  docs/wiring/make_wiring.sh
  docs/wiring/power_entry.rst
  docs/wiring/power_entry.yml
  manufacturing/purchasing_guidelines.md
  manufacturing/wiring/README.md
  manufacturing/wiring/images/main_power_cable.jpg
  manufacturing/wiring/images/main_power_cable_drawing_image.jpg
  manufacturing/wiring/images/main_power_cable_process4.jpg
  manufacturing/wiring/images/wiring-v0.4-power-entry.png
Due: none

adding wireviz YAML file for power entry harness
  .github/workflows/docs.yml
  docs/README.md
  docs/assets/my_theme.css
  docs/conf.py
  docs/contributing/contributing.rst
  docs/index.rst
  docs/process/index.rst
  docs/purchasing/.gitignore
  docs/purchasing/README.md
  docs/purchasing/index.rst
  docs/purchasing/make_parts.py
  docs/purchasing/make_parts.sh
  docs/purchasing/numbering-schema.rst
  docs/purchasing/parts.json
  docs/purchasing/purchasing-guidelines.rst
  docs/wiring/.gitignore
  docs/wiring/README.md
  docs/wiring/decorate_table.py
  docs/wiring/images/KyconPinout-KPJX-PM-4S.png
  docs/wiring/index.rst
  docs/wiring/make_wiring.sh
  docs/wiring/power_entry.rst
  docs/wiring/power_entry.yml
  manufacturing/purchasing_guidelines.md
  manufacturing/wiring/README.md
  manufacturing/wiring/images/main_power_cable.jpg
  manufacturing/wiring/images/main_power_cable_drawing_image.jpg
  manufacturing/wiring/images/main_power_cable_process4.jpg
Due: none

Main power entry and switch wiring harness, infrastructure for wiring docs and parts purchasing docs generation with sphinx
  .github/workflows/docs.yml
  docs/README.md
  docs/assets/my_theme.css
  docs/conf.py
  docs/contributing/contributing.rst
  docs/index.rst
  docs/process/index.rst
  docs/purchasing/.gitignore
  docs/purchasing/README.md
  docs/purchasing/index.rst
  docs/purchasing/make_parts.py
  docs/purchasing/make_parts.sh
  docs/purchasing/numbering-schema.rst
  docs/purchasing/parts.json
  docs/purchasing/purchasing-guidelines.rst
  docs/wiring/.gitignore
  docs/wiring/README.md
  docs/wiring/decorate_table.py
  docs/wiring/images/KyconPinout-KPJX-PM-4S.png
  docs/wiring/index.rst
  docs/wiring/make_wiring.sh
  docs/wiring/power_entry.rst
  docs/wiring/power_entry.yml
  manufacturing/purchasing_guidelines.md
  manufacturing/wiring/README.md
  manufacturing/wiring/images/main_power_cable.jpg
  manufacturing/wiring/images/main_power_cable_drawing_image.jpg
  manufacturing/wiring/images/main_power_cable_process4.jpg
Due: none

documentation updates and directory move-arounds
  README.md
  manufacturing/README.md
  open_source.md
  quality-assurance/testing/README.md
  software/README.md
  software/controller/README.md
  software/gui/README.md
  software/gui/app/sample-data
  software/gui/app/sample-data/README.md
  software/gui/app/sample-data/gui-sample-data.dat
  software/sample-data/README.md
  software/utils/README.md
  software/utils/rpi_config/README.md
Due: controller, gui

documentation updates and directory move-arounds (#1258)
  README.md
  manufacturing/README.md
  open_source.md
  quality-assurance/testing/README.md
  software/README.md
  software/controller/README.md
  software/gui/README.md
  software/gui/app/sample-data
  software/gui/app/sample-data/README.md
  software/gui/app/sample-data/gui-sample-data.dat
  software/sample-data/README.md
  software/utils/README.md
  software/utils/rpi_config/README.md
Due: controller, gui

documentation updates and directory move-arounds (#1258)
  README.md
  manufacturing/README.md
  open_source.md
  quality-assurance/testing/README.md
  software/README.md
  software/controller/README.md
  software/gui/README.md
  software/utils/README.md
  software/utils/rpi_config/README.md
Due: controller, gui

update replaces old desktop shortcuts
  .circleci/config.yml
  software/common/common.sh
  software/common/platformio.ini
  software/controller/controller.sh
  software/controller/platformio.ini
  software/controller/platformio/README.md
  software/controller/platformio/device_lookup_table.txt
  software/utils/debug/controller_debug.py
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/update.sh
Due: controller, common

Deployment(update) script improvements, platformio strict version enforcement
  .circleci/config.yml
  software/common/common.sh
  software/common/platformio.ini
  software/controller/controller.sh
  software/controller/platformio.ini
  software/controller/platformio/README.md
  software/controller/platformio/device_lookup_table.txt
  software/utils/debug/controller_debug.py
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/update.sh
Due: controller, common

Refactor breath detection to make it usable outside of pressure assist mode
  software/controller/lib/core/blower_fsm.cpp
  software/controller/lib/core/blower_fsm.h
  software/controller/lib/core/breath_detection.cpp
  software/controller/lib/core/breath_detection.h
  software/controller/test/core/test_blower_fsm/blower_fsm_test.cpp
Due: controller

make breath detection debug vars static so they apply to all instances
  software/controller/lib/core/blower_fsm.cpp
  software/controller/lib/core/blower_fsm.h
  software/controller/lib/core/breath_detection.cpp
  software/controller/lib/core/breath_detection.h
Due: controller

rename historic blower[...] names ventilation when referring to the blower+valves system as a whole
  software/controller/lib/core/breath_detection.cpp
  software/controller/lib/core/controller.cpp
  software/controller/lib/core/controller.h
  software/controller/lib/core/ventilation_fsm.cpp
  software/controller/lib/core/ventilation_fsm.h
  software/controller/test/core/test_ventilation_fsm/ventilation_fsm_test.cpp
  software/controller/test/core/test_ventilation_fsm/ventilation_fsm_test_data.h
Due: controller

Add breath detection simple tests.
  software/controller/test/core/test_breath_detection/breath_detection_test.cpp
  software/controller/test/test_framing/uart_stream_test.cpp
Due: controller

Refactor breath detection and rename `blower_fsm` components (#1268)
  software/controller/lib/core/breath_detection.cpp
  software/controller/lib/core/breath_detection.h
  software/controller/lib/core/controller.cpp
  software/controller/lib/core/controller.h
  software/controller/lib/core/ventilation_fsm.cpp
  software/controller/lib/core/ventilation_fsm.h
  software/controller/test/core/test_breath_detection/breath_detection_test.cpp
  software/controller/test/core/test_ventilation_fsm/ventilation_fsm_test.cpp
  software/controller/test/core/test_ventilation_fsm/ventilation_fsm_test_data.h
  software/controller/test/test_framing/uart_stream_test.cpp
Due: controller

upgrade to pio 6.1.0, which enables coverage reports again
  software/common/common.sh
  software/controller/controller.sh
Due: controller, common

adding #includes in integration_test/main in order to fix new regression in pio's ldf
  software/controller/integration_tests/main.cpp
  software/controller/platformio.ini
Due: controller

Address review comments + update unit tests main() function to latest documentation
  software/common/common.sh
  software/common/test_libs/custom_google/gtest_main.h
  software/controller/controller.sh
  software/controller/integration_tests/main.cpp
  software/controller/platformio.ini
Due: controller, common

Fix code coverage issue (#1272)
  software/common/common.sh
  software/common/test_libs/custom_google/gtest_main.h
  software/controller/controller.sh
  software/controller/integration_tests/main.cpp
  software/controller/platformio.ini
Due: controller, common

build and test with gcc11
  software/common/common.sh
  software/controller/controller.sh
  software/controller/lib/debug/trace.cpp
  software/controller/lib/framing/uart_stream.h
  software/controller/test/test_debug/eeprom_cmd_test.cpp
  software/controller/test/test_debug/trace_cmd_test.cpp
  software/controller/test/test_debug/var_cmd_test.cpp
  software/gui/src/qserial_output_stream.h
Due: controller, gui, common
