Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

codecov.yml:

codecov:
  token: a570973b-0fb7-4c26-867c-ce2fc9d7458e
  require_ci_to_pass: no

coverage:
  precision: 2
  range: "70...100"
  round: down
  status:
    project:
      default:
        target: auto
      controller:
        flags:
          - controller
      gui:
        flags:
          - gui
      common:
        flags:
          - common

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no
  after_n_builds: 3

flags:
  controller:
    paths:
      - software/controller
    carryforward: false
  gui:
    paths:
      - software/gui
    carryforward: false
  common:
    paths:
      - software/common
    carryforward: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

non-interactive install
  .circleci/config.yml
Due: none

updated controller architecture UML
  .github/workflows/docs.yml
  software/design/GUI_architecture.md
  software/design/controller_architecture.md
  software/design/images/GUI_architecture.png
  software/design/images/controller_architecture.dot
  software/design/images/controller_architecture.png
Due: none

CI maintenance (#1342)
  .circleci/config.yml
  .github/workflows/docs.yml
  software/design/GUI_architecture.md
  software/design/controller_architecture.md
  software/design/images/GUI_architecture.png
  software/design/images/controller_architecture.dot
  software/design/images/controller_architecture.png
Due: none

regulator assembly with bracket and tubing adapters, PSOL and pinch valve fixes, preliminary placing; updates #1252
  manufacturing/internals/PSOL/PSOL.iam
  manufacturing/internals/internals.iam
  manufacturing/internals/pinch_valve/pinch_valve_assembly.iam
  manufacturing/internals/regulator/reguilator.iam
  manufacturing/third_party/pneumatics/push_to_connect_8mm_x_1-4nptm.ipt
  manufacturing/third_party/regulator_SMC_SRH3000-N02.iam
  manufacturing/third_party/regulator_SMC_bracket.ipt
Due: none

better annotation of regulator and psol; updates #1252
  manufacturing/internals/PSOL/PSOL.iam
  manufacturing/internals/internals.iam
  manufacturing/internals/regulator/reguilator.iam
  manufacturing/internals/regulator/regulator.iam
  manufacturing/internals/tray/equipment_tray.iam
  manufacturing/third_party/regulator_SMC_SRH3000-N02.iam
  manufacturing/third_party/regulator_SMC_SRH3000-N02_body.ipt
  manufacturing/third_party/regulator_SMC_SRH3000-N02_mounting_nut.ipt
  manufacturing/third_party/regulator_SMC_bracket.ipt
  manufacturing/third_party/solenoid_SMC_PVQ31-6G-40-01N.ipt
Due: none

pinch valve simplification, more components in pneumatics assy; updates #1252
  manufacturing/internals/internals.iam
  manufacturing/internals/pinch_valve/pinch_valve_assembly.iam
  manufacturing/internals/pinch_valve/pinch_valve_base.ipt
Due: none

initial design of new base plate
  manufacturing/internals/pinch_valve/test_RAI_pinch_valve_base.ipt
Due: none

Update README.md
  README.md
Due: none

update codecov script
  .circleci/config.yml
  software/common/common.sh
Due: common

pip install codecov
  software/common/common.sh
Due: common

upload differently
  .circleci/config.yml
  software/common/common.sh
  software/controller/controller.sh
Due: controller, common

les do dis
  software/common/common.sh
Due: common

without file
  .circleci/config.yml
  software/common/common.sh
Due: common

file is back
  .circleci/config.yml
Due: none

controller upload coverage new way
  .circleci/config.yml
  software/controller/controller.sh
Due: controller

controller cov upload
  .circleci/config.yml
Due: none

bump conan ant build GUI
  .circleci/config.yml
  software/gui/CMakeLists.txt
  software/gui/CMakeUserPresets.json
  software/gui/cmake/ConanConfig.cmake
  software/gui/conanfile.txt
  software/gui/gui.sh
  software/gui/src/gui_state_container.cpp
Due: gui

updated some links
  software/design/GUI_alarm_subsystem.md
  software/design/README.md
  software/design/UI_requirements.md
  software/design/milestone_v0.2.md
Due: none

one more link fixed, ignore raspi URLs
  docs/lychee.toml
  software/design/milestone_v0.2.md
Due: none

cleanup
  .circleci/config.yml
  software/common/common.sh
  software/controller/controller.sh
  software/gui/CMakeUserPresets.json
Due: controller, gui, common

some gui tweaks
  .circleci/config.yml
  .gitignore
  software/gui/gui.sh
Due: gui

install setuptools
  software/common/common.sh
Due: common

cov cleanup
  .circleci/config.yml
Due: none

undo clangtidy hack
  software/gui/gui.sh
Due: gui

Maintain/update CI: Conan2, CodeCov upload script, dead links (#1344)
  .circleci/config.yml
  .gitignore
  docs/lychee.toml
  software/common/common.sh
  software/controller/controller.sh
  software/design/GUI_alarm_subsystem.md
  software/design/README.md
  software/design/UI_requirements.md
  software/design/milestone_v0.2.md
  software/gui/CMakeLists.txt
  software/gui/cmake/ConanConfig.cmake
  software/gui/conanfile.txt
  software/gui/gui.sh
  software/gui/src/gui_state_container.cpp
Due: controller, gui, common

updates for ubuntu24
  .circleci/config.yml
  software/common/common.sh
  software/controller/controller.sh
  software/gui/gui.sh
Due: controller, gui, common

pipx ensure path
  software/common/common.sh
  software/controller/controller.sh
  software/gui/gui.sh
Due: controller, gui, common

fix tests, bump pio
  software/common/common.sh
  software/common/platformio.ini
  software/controller/controller.sh
  software/controller/platformio.ini
  software/gui/gui.sh
Due: controller, gui, common

try again
  .circleci/config.yml
  software/controller/controller.sh
Due: controller

fixed comon test and moved debugger
  .circleci/config.yml
  software/README.md
  software/common/common.sh
  software/controller/controller.sh
  software/controller/lib/debug/README.md
  software/debug/README.md
  software/debug/debug.sh
  software/debug/debug_cli.py
  software/debug/debug_funcs.py
  software/debug/debug_lib/__init__.py
  software/debug/debug_lib/controller_debug.py
  software/debug/debug_lib/debug_types.py
  software/debug/debug_lib/test_data.py
  software/debug/debug_lib/test_scenario.py
  software/debug/debug_lib/var_info.py
  software/debug/install.sh
  software/debug/protocols/network_protocol_pb2.py
  software/debug/scripts/README.md
  software/debug/scripts/peek_dma.py
  software/debug/scripts/valve_calibration.py
  software/debug/test_scenarios/dummy.json
  software/debug/test_scenarios/iso_pressure_tests.csv
  software/debug/test_scenarios/iso_pressure_tests.json
  software/debug/test_scenarios/iso_volume_tests.csv
  software/debug/test_scenarios/iso_volume_tests.json
  software/debug/unit_test.py
  software/debug/util/__init__.py
  software/debug/util/colors.py
  software/debug/util/error.py
  software/debug/util/serial_detect.py
  software/utils/README.md
Due: controller, common

use poetry for debugger
  .circleci/config.yml
  .gitignore
  software/debug/.gitignore
  software/debug/debug.sh
  software/debug/debug/__init__.py
  software/debug/debug/debug_cli.py
  software/debug/debug/debug_funcs.py
  software/debug/debug/debug_lib/__init__.py
  software/debug/debug/debug_lib/controller_debug.py
  software/debug/debug/debug_lib/debug_types.py
  software/debug/debug/debug_lib/test_data.py
  software/debug/debug/debug_lib/test_scenario.py
  software/debug/debug/debug_lib/var_info.py
  software/debug/debug/scripts/README.md
  software/debug/debug/scripts/peek_dma.py
  software/debug/debug/scripts/valve_calibration.py
  software/debug/debug/test_scenarios/dummy.json
  software/debug/debug/test_scenarios/iso_pressure_tests.csv
  software/debug/debug/test_scenarios/iso_pressure_tests.json
  software/debug/debug/test_scenarios/iso_volume_tests.csv
  software/debug/debug/test_scenarios/iso_volume_tests.json
  software/debug/debug/util/__init__.py
  software/debug/debug/util/colors.py
  software/debug/debug/util/error.py
  software/debug/debug/util/serial_detect.py
  software/debug/install.sh
  software/debug/poetry.lock
  software/debug/protocols/network_protocol_pb2.py
  software/debug/pyproject.toml
  software/debug/tests/__init__.py
  software/debug/tests/unit_test.py
Due: none

common installs poetry
  software/common/common.sh
Due: common

updated wiring generation scripts
  docs/.gitignore
  docs/docs.sh
  docs/poetry.lock
  docs/pyproject.toml
  docs/scripts/__init__.py
  docs/scripts/make_parts.py
  docs/scripts/make_parts.sh
  docs/scripts/make_wiring.py
  docs/wiring/decorate_table.py
  docs/wiring/make_wiring.sh
  docs/wiring/power_entry.yml
Due: none

docs should work
  docs/docs.sh
  docs/pyproject.toml
  docs/scripts/make_parts.py
  docs/scripts/make_parts.sh
Due: none

install graphviz with apt
  docs/docs.sh
Due: none

exclude siargo links from checker
  docs/lychee.toml
Due: none

refactoring of bash scripts
  docs/docs.sh
  docs/poetry.lock
  docs/pyproject.toml
  software/common/base.sh
  software/common/common.sh
  software/controller/controller.sh
  software/debug/poetry.lock
  software/debug/pyproject.toml
  software/gui/gui.sh
Due: controller, gui, common

fixup
  .circleci/config.yml
  docs/poetry.lock
  docs/pyproject.toml
  software/debug/poetry.lock
  software/debug/pyproject.toml
  software/gui/gui.sh
Due: gui
