Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

codecov.yml:

codecov:
  token: a570973b-0fb7-4c26-867c-ce2fc9d7458e
  require_ci_to_pass: no

coverage:
  precision: 2
  range: "70...100"
  round: down
  status:
    project:
      default: off
      controller:
        target: auto
        flags:
          - controller
      gui:
        target: auto
        flags:
          - gui
      common:
        target: auto
        flags:
          - common

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  controller:
    paths:
      - software/controller
    carryforward: false
  gui:
    paths:
      - software/gui
    carryforward: false
  common:
    paths:
      - software/common
    carryforward: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

"docker scripts; updates #1167"
  .circleci/common_tests_Dockerfile
  .circleci/controller_tests_Dockerfile
  .circleci/gui_tests_Dockerfile
Due: none

"codecov.yml validated, docker scripts tweaked; updates #1167"
  .circleci/common_tests_Dockerfile
  .circleci/controller_tests_Dockerfile
  .circleci/gui_tests_Dockerfile
  codecov.yml
Due: none

"codecov yaml simplifications; updates #1167"
  codecov.yml
Due: none

"try to do more coverage reporting for gui; updates #1167"
  .circleci/gui_tests_Dockerfile
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/update.sh
  software/utils/rpi_config/vent-gui.desktop
Due: none

"gui lcov version; updates #1167"
  software/gui/gui.sh
Due: gui

"more codecov tweaks; updates #1167"
  codecov.yml
Due: none

"different way to exclude files from gui coverage; updates #1167"
  software/gui/gui.sh
Due: gui

"better gui coverage script; updates #1167"
  software/gui/gui.sh
Due: gui

"common coverage tweak; updates #1167"
  software/common/common.sh
  software/gui/gui.sh
Due: gui, common

"all coverage via lcov; updates #1167"
  .circleci/controller_tests_Dockerfile
  software/common/common.sh
  software/controller/controller.sh
  software/gui/gui.sh
Due: controller, gui, common

"filenames tweaked; updates #1167"
  software/common/common.sh
  software/controller/controller.sh
Due: controller, common

"try simplified coverage with lcov; updates #1167"
  .circleci/common_tests_Dockerfile
  software/common/common.sh
  software/gui/gui.sh
Due: gui, common

"manual gcov for controller and common code; updates #1167"
  software/common/common.sh
  software/controller/controller.sh
  software/gui/gui.sh
Due: controller, gui, common

"codecov config moved back from root into .github as hideen file; updates #1167"
  .github/.codecov.yml
Due: none

"common bash oops; updates #1167"
  software/common/common.sh
Due: common

"using gtest_print; updates #1167"
  software/common/test/checksum_test.cpp
  software/common/test_libs/gtest_print.h
Due: common

"simplified includes for checksum test; updates #1167"
  software/common/test/checksum_test.cpp
Due: common

Codecov upload script update (#1169)
  .circleci/common_tests_Dockerfile
  .circleci/config.yml
  .circleci/gui_tests_Dockerfile
  .github/.codecov.yml
  software/common/common.sh
  software/common/platformio.ini
  software/common/test/binary_utils_test.cpp
  software/common/test/checksum_test.cpp
  software/common/test/proto_traits_test.cpp
  software/common/test/units_test.cpp
  software/common/test_libs/gtest_print.h
  software/gui/gui.sh
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/update.sh
  software/utils/rpi_config/vent-gui.desktop
Due: gui, common

"first pass at GPIO refactoring; updates #1171"
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/buzzer.cpp
  software/controller/lib/hal/gpio.cpp
  software/controller/lib/hal/gpio.h
  software/controller/lib/hal/gpio_regs.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/hal_stm32.h
  software/controller/lib/hal/hal_stm32_regs.h
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/psol.cpp
  software/controller/lib/hal/stepper.cpp
Due: controller

"function signatures, better docs references, proper binary literals; updates #1171"
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/buzzer.cpp
  software/controller/lib/hal/gpio.cpp
  software/controller/lib/hal/gpio.h
  software/controller/lib/hal/gpio_regs.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/hal_stm32.h
  software/controller/lib/hal/psol.cpp
  software/controller/lib/hal/uart_dma.cpp
Due: controller

"oops; updates #1171"
  software/controller/lib/hal/hal_stm32.cpp
Due: controller

"More documentation for Reset&Clock and System Control Registers; updates #1171"
  software/controller/lib/hal/hal_stm32_regs.h
Due: controller

"clocks mappings factored out; updates #1171"
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/buzzer.cpp
  software/controller/lib/hal/clocks.cpp
  software/controller/lib/hal/clocks.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/psol.cpp
  software/controller/lib/hal/stepper.cpp
Due: controller

"first pass at factoring out Clocks code; updates #1171"
  software/controller/lib/hal/clocks.cpp
  software/controller/lib/hal/clocks.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/hal_stm32_regs.h
Due: controller

"more cleanup; updates #1171"
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/buzzer.cpp
  software/controller/lib/hal/clocks.cpp
  software/controller/lib/hal/clocks.h
  software/controller/lib/hal/gpio.cpp
  software/controller/lib/hal/gpio.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/psol.cpp
  software/controller/lib/hal/stepper.cpp
Due: controller

"some GPIO cleanup; updates #1171"
  software/controller/lib/hal/gpio.cpp
  software/controller/lib/hal/gpio.h
  software/controller/lib/hal/gpio_regs.h
  software/controller/lib/hal/hal_stm32.cpp
Due: controller

"better variable naming; updates #1171"
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/buzzer.cpp
  software/controller/lib/hal/clocks.cpp
  software/controller/lib/hal/clocks.h
  software/controller/lib/hal/gpio.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/hal_stm32.h
  software/controller/lib/hal/hal_stm32_regs.h
  software/controller/lib/hal/psol.cpp
  software/controller/lib/hal/uart_dma.cpp
  software/controller/lib/hal/uart_dma.h
Due: controller

"addressing PR review notes; updates #1171"
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/buzzer.cpp
  software/controller/lib/hal/clocks.cpp
  software/controller/lib/hal/clocks.h
  software/controller/lib/hal/gpio.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/psol.cpp
  software/controller/lib/hal/stepper.cpp
Due: controller

"undid some overzealous find/replace; updates #1171"
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/uart_dma.cpp
  software/controller/lib/hal/uart_dma.h
Due: controller

HAL refactoring: RCC and GPIO modules (#1172)
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/buzzer.cpp
  software/controller/lib/hal/clocks.cpp
  software/controller/lib/hal/clocks.h
  software/controller/lib/hal/gpio.cpp
  software/controller/lib/hal/gpio.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/hal_stm32.h
  software/controller/lib/hal/hal_stm32_regs.h
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/psol.cpp
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/uart_dma.cpp
Due: controller

"timer registers factored out; updates #1173"
  software/controller/lib/hal/buzzer.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/hal_stm32_regs.h
  software/controller/lib/hal/psol.cpp
  software/controller/lib/hal/timers.h
Due: controller

"moved ADC registers to ADC implementation file; updates #1173"
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/hal_stm32_regs.h
Due: controller

"fatcored out more of Flash from main HAL; updates #1173"
  software/controller/lib/hal/flash.cpp
  software/controller/lib/hal/flash.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/hal_stm32_regs.h
Due: controller

"factored out SPI and UART from HAL; updates #1173"
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/flash.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/hal_stm32.h
  software/controller/lib/hal/hal_stm32_regs.h
  software/controller/lib/hal/i2c.h
  software/controller/lib/hal/spi.h
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/uart.cpp
  software/controller/lib/hal/uart.h
Due: controller

"factored out DMA from HAL; updates #1173"
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/dma.cpp
  software/controller/lib/hal/dma.h
  software/controller/lib/hal/hal_stm32_regs.h
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/i2c.h
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/uart_dma.h
Due: controller

"i2c registers factored out of HAL; updates #1173"
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/hal_stm32_regs.h
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/i2c.h
Due: controller

"interrupts factored out of HAL; updates #1173"
  software/controller/lib/debug/interface.h
  software/controller/lib/debug/trace.cpp
  software/controller/lib/hal/circular_buffer.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/hal_stm32.h
  software/controller/lib/hal/hal_stm32_regs.h
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/i2c.h
  software/controller/lib/hal/interrupts.cpp
  software/controller/lib/hal/interrupts.h
  software/controller/lib/hal/stepper.cpp
Due: controller

"more refactoring of PSOL, ADC and Buzzer; updates #1173"
  software/controller/lib/core/actuators.cpp
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/adc.h
  software/controller/lib/hal/buzzer.cpp
  software/controller/lib/hal/buzzer.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/psol.cpp
  software/controller/lib/hal/psol.h
  software/controller/lib/sensors/sensor_base.cpp
  software/controller/test/psol/psol_test.cpp
  software/controller/test/sensor_tests/sensors_test.cpp
Due: controller
