Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

adding source files for blower harness
  docs/wiring/blower.rst
  docs/wiring/blower.yml
Due: none

Created Blower Harness (#1317)
  docs/purchasing/numbering-schema.rst
  docs/purchasing/parts.json
  docs/wiring/blower_TK_BA7050H12B.rst
  docs/wiring/blower_TK_BA7050H12B.yml
  docs/wiring/index.rst
Due: none

added jenkinsfile; updates #1309
  Jenkinsfile
Due: none

modern jenkinsfile; updates #1309
  Jenkinsfile
Due: none

more steps; updates #1309
  Jenkinsfile
Due: none

more complex Jenkinsfile; updates #1309
  Jenkinsfile
Due: none

agent any; updates #1309
  Jenkinsfile
Due: none

print branch info; updates #1309
  Jenkinsfile
Due: none

checkout scm; updates #1309
  Jenkinsfile
Due: none

do pre-commit checks locally; updates #1309
  Jenkinsfile
Due: none

escape sequences; updates #1309
  Jenkinsfile
Due: none

precommit tests in docker; updates #1309
  Jenkinsfile
  jenkins/Dockerfile
  jenkins/go.sh
  jenkins/test.sh
Due: none

better cleanup of docker images; updates #1309
  jenkins/go.sh
Due: none

huh?; updates #1309
  jenkins/go.sh
Due: none

code root path dynamically determined; updates #1309
  jenkins/go.sh
Due: none

correct code root path; updates #1309
  jenkins/go.sh
Due: none

chown copied repo in container; updates #1309
  jenkins/go.sh
Due: none

generalized docker script; updates #1309
  Jenkinsfile
  ci/Dockerfile_python
  ci/do_docker_test.sh
  ci/precommit.sh
Due: none

added some more docker crap; updates #1309
  Jenkinsfile
  ci/Dockerfile_ubuntu
  ci/common.sh
  ci/do_docker_test.sh
Due: none

refactored pre-commit stage
  Jenkinsfile
  ci/Dockerfile_precommit
  ci/Dockerfile_ubuntu
  ci/README.md
  ci/do_docker_test.sh
Due: none

wrangling with jenkins
  ci/Dockerfile_precommit
  ci/do_docker_test.sh
Due: none

wrangling pt 2: correctly copying the repo
  ci/Dockerfile_precommit
Due: none

wrangling pt 3: correctly copying the repo
  ci/Dockerfile_precommit
Due: none

wrangling pt 4: correctly copying the repo
  Jenkinsfile
  ci/do_docker_test.sh
Due: none

wrangling pt 5: correctly copying the repo
  ci/do_docker_test.sh
Due: none

wrangling pt 6: correctly copying the repo
  ci/do_docker_test.sh
Due: none

wrangling pt 6: correctly copying the repo
  ci/Dockerfile_precommit
Due: none

wrangling pt 8: correctly copying the repo
  ci/Dockerfile_precommit
Due: none

adding common tests
  Jenkinsfile
  software/common/Dockerfile
Due: common

adding controller tests
  Jenkinsfile
  ci/README.md
  ci/controller.sh
  software/controller/Dockerfile
Due: controller

Add operators for debugvars Add error counters
  software/common/libs/framing/frame_detector.h
  software/common/libs/framing/frame_detector.tpp
  software/controller/integration_tests/eeprom_test.h
  software/controller/lib/core/comms.cpp
  software/controller/lib/core/comms.h
  software/controller/lib/core/v03system.cpp
  software/controller/lib/debugvars/vars.h
  software/controller/lib/hal/spi_chain.h
  software/controller/lib/hal/spi_chain.tpp
  software/controller/lib/hal/uart_base.cpp
  software/controller/lib/hal/uart_base.h
  software/controller/lib/hal/uart_dma.cpp
  software/controller/lib/hal/uart_dma.h
  software/controller/lib/hal/uart_soft.h
Due: controller, common

Add more counter for abnormal conditions
  software/controller/integration_tests/eeprom_test.h
  software/controller/lib/core/main_loops.cpp
  software/controller/lib/core/v03system.cpp
  software/controller/lib/debug/interface.cpp
  software/controller/lib/debug/interface.h
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/i2c.h
  software/controller/test/hal/test_i2c/i2c_test.cpp
  software/controller/test/test_debug/interface_test.cpp
  software/controller/test_libs/mocks/uart_mock.h
Due: controller

locked conan to 1.59 for now; updates #1324
  software/gui/CMakeLists.txt
  software/gui/conanfile.txt
  software/gui/gui.sh
Due: gui

fixed software design images; updates #1324
  software/design/README.md
  software/design/UI_requirements.md
  software/design/images/alarms_table.png
  software/design/images/module_diagram.png
Due: none

Locks conan to 1.59 for GUI builds (#1325)
  software/design/README.md
  software/design/UI_requirements.md
  software/design/images/alarms_table.png
  software/design/images/module_diagram.png
  software/gui/CMakeLists.txt
  software/gui/conanfile.txt
  software/gui/gui.sh
Due: gui

gui conan setup must source .profile; updates #1324
  software/gui/gui.sh
Due: gui

different source command; updates #1324
  software/gui/gui.sh
Due: gui

platformio udev URL update; updates #1324
  software/controller/controller.sh
Due: controller

Path conditions:
  controller: any of: software/controller
  gui: any of: software/gui
  common: any of: software/common
