Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

codecov.yml:

codecov:
  token: a570973b-0fb7-4c26-867c-ce2fc9d7458e
  require_ci_to_pass: no

coverage:
  precision: 2
  range: "70...100"
  round: down
  status:
    project:
      default:
        target: auto
      controller:
        flags:
          - controller
      gui:
        flags:
          - gui
      common:
        flags:
          - common

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no
  after_n_builds: 3

flags:
  controller:
    paths:
      - software/controller
    carryforward: false
  gui:
    paths:
      - software/gui
    carryforward: false
  common:
    paths:
      - software/common
    carryforward: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

build and test with gcc11 (#1271)
  software/common/common.sh
  software/controller/controller.sh
  software/controller/lib/debug/trace.cpp
  software/controller/lib/framing/uart_stream.h
  software/controller/test/test_debug/eeprom_cmd_test.cpp
  software/controller/test/test_debug/trace_cmd_test.cpp
  software/controller/test/test_debug/var_cmd_test.cpp
  software/gui/src/qserial_output_stream.h
Due: controller, gui, common

"squash gh-pages history; updates #1267"
  .github/workflows/docs.yml
  docs/index.rst
Due: none

"squash gh-pages history; updates #1267" (#1275)
  .github/workflows/docs.yml
  docs/index.rst
Due: none

Remove temporary patches now platformio 6.1 is fixed and released
  software/common/common.sh
  software/controller/README.md
  software/controller/controller.sh
  software/controller/integration_tests/main.cpp
  software/controller/platformio.ini
Due: controller, common

Remove temporary patches now platformio 6.1 is fixed and released (#1276)
  software/common/common.sh
  software/controller/README.md
  software/controller/controller.sh
  software/controller/integration_tests/main.cpp
  software/controller/platformio.ini
Due: controller, common

fixes after repository repack
  .gitattributes
  software/controller/platformio/build_config/auto_firmware_version.py
  software/gui/app/sample-data/README.md
  software/gui/app/sample-data/gui-sample-data.dat
  software/utils/debug/test_data.py
Due: controller, gui

added requirements.txt and venv configuration in controller_debug.sh
  software/utils/requirements.txt
  software/utils/test.sh
Due: none

adding gh action build workflow for sonar
  .github/workflows/build.yml
Due: none

adding sonar project properties file
  sonar-project.properties
Due: none

"apt commands with sudo; updates #909"
  .github/workflows/build.yml
Due: none

"more sonar config; updates #909"
  .github/workflows/build.yml
  sonar-project.properties
Due: none

"ls -al; updates #909"
  .github/workflows/build.yml
  sonar-project.properties
Due: none

initial modifications to venturi; update #1199
  manufacturing/internals/venturi/venturi.ipt
Due: none

"selective LFS pull and new desktop background; updates #1277"
  software/utils/icons/rw_capture.png
  software/utils/icons/rw_logo_vertical.png
  software/utils/rpi_config/README.md
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/desktop_background.jpg
  software/utils/rpi_config/update.sh
  software/utils/rpi_config/user/Desktop/vent-debug.desktop
  software/utils/rpi_config/user/Desktop/vent-update.desktop
Due: none

Deployment scripts selectively pull LFS (#1278)
  software/utils/icons/rw_capture.png
  software/utils/icons/rw_logo_vertical.png
  software/utils/rpi_config/README.md
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/desktop_background.jpg
  software/utils/rpi_config/update.sh
  software/utils/rpi_config/user/Desktop/vent-debug.desktop
  software/utils/rpi_config/user/Desktop/vent-update.desktop
Due: none

Add README.md file
  software/common/generated_libs/network_protocol/README.md
  software/common/generated_libs/network_protocol/network_protocol.proto
Due: common

Update README.md
  software/common/generated_libs/network_protocol/README.md
Due: common

add Linux section to README
  software/common/generated_libs/network_protocol/README.md
Due: common

Update common.sh
  software/common/common.sh
Due: common

Updated network protocol outputs
  software/common/generated_libs/network_protocol/network_protocol.pb.c
  software/common/generated_libs/network_protocol/network_protocol.pb.h
  software/utils/network_protocol_pb2.py
Due: common

update .proto
  software/.clang-format
Due: none

battery: parameterize and apply best practices
  manufacturing/third_party/electronics/battery_lipo_4s3p.ipt
Due: none

add network protocols to common.sh
  .gitignore
  software/common/common.sh
Due: common

add parts to json directory
  docs/purchasing/parts.json
Due: none

added yml file
  docs/wiring/oxygen_sensor.yml
Due: none

added wire
  docs/purchasing/parts.json
Due: none
