Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

"no bincrafters required; updates #1180"
  software/gui/conanfile.txt
  software/gui/gui.sh
  software/gui/src/CMakeLists.txt
Due: gui

"fixed gui script bug; updates #1180"
  .circleci/config.yml
  software/gui/gui.sh
Due: gui

"moved more of controller installation into scripts, bumped CI image versions; updates #1180"
  .circleci/common_tests_Dockerfile
  .circleci/config.yml
  .circleci/controller_tests_Dockerfile
  .circleci/gui_tests_Dockerfile
  software/common/common.sh
  software/controller/controller.sh
  software/gui/gui.sh
Due: controller, gui, common

"some bootstrap script updates; updates #1180"
  software/utils/rpi_config/bootstrap.sh
Due: none

"fixed another gui script bug; updates #1180"
  software/common/common.sh
  software/controller/controller.sh
  software/gui/gui.sh
  software/utils/rpi_config/Github
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/update.sh
  software/utils/rpi_config/vent-debugger.desktop
  software/utils/rpi_config/vent-gui.desktop
  software/utils/rpi_config/vent-update.desktop
Due: controller, gui, common

"added boot config files; updates #1180"
  software/utils/rpi_config/Desktop/Github
  software/utils/rpi_config/boot/cmdline.txt
  software/utils/rpi_config/boot/config.txt
  software/utils/rpi_config/boot/syscfg.txt
  software/utils/rpi_config/boot/usercfg.txt
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/vent-debugger.desktop
  software/utils/rpi_config/vent-gui.desktop
  software/utils/rpi_config/vent-update.desktop
Due: none

force added desktop files
  software/utils/rpi_config/Desktop/vent-debugger.desktop
  software/utils/rpi_config/Desktop/vent-gui.desktop
  software/utils/rpi_config/Desktop/vent-update.desktop
Due: none

"some updates to boostrap script for Ubuntu MATE; updates #1180"
  software/utils/rpi_config/Github
  software/utils/rpi_config/autostart
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/user_config/dconf-guake-dump.txt
Due: none

"updated script some more again; updates #1180"
  software/utils/rpi_config/bootstrap.sh
Due: none

"updated script some more; updates #1180"
  software/utils/rpi_config/boot/cmdline.txt
  software/utils/rpi_config/boot/config.txt
  software/utils/rpi_config/boot/syscfg.txt
  software/utils/rpi_config/boot/usercfg.txt
  software/utils/rpi_config/bootstrap.sh
Due: none

"added missing guake autostart; updates #1180"
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/user_config/autostart/guake.desktop
Due: none

"gui local install should source profile; updates #1180"
  software/gui/gui.sh
  software/utils/rpi_config/bootstrap.sh
Due: gui

"desktop shortcuts fixed, debug script should not fail without git config; updates #1180"
  software/utils/debug/controller_debug.py
  software/utils/debug/test_data.py
  software/utils/rpi_config/Desktop/vent-debugger.desktop
  software/utils/rpi_config/Desktop/vent-gui.desktop
  software/utils/rpi_config/Desktop/vent-update.desktop
  software/utils/rpi_config/README.md
  software/utils/rpi_config/bootstrap.sh
Due: none

"dbg sanity check only if connected; updates #1180"
  software/utils/debug/debug_cli.py
Due: none

"update script updated; updates #1180"
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/update.sh
Due: none

"update script path bug; updates #1180"
  software/utils/rpi_config/update.sh
Due: none

"rebuild GUI before attempting to rebuild controller; updates #1180"
  software/utils/rpi_config/update.sh
Due: none

"update shortcuts last; updates #1180"
  software/utils/rpi_config/update.sh
Due: none

"local install unneccessary when doing update; updates #1180"
  software/utils/rpi_config/update.sh
Due: none

"tweak bootstrap script; updates #1180"
  software/utils/rpi_config/Desktop/Github
  software/utils/rpi_config/Desktop/vent-debugger.desktop
  software/utils/rpi_config/Desktop/vent-gui.desktop
  software/utils/rpi_config/Desktop/vent-update.desktop
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/dconf-guake-dump.txt
  software/utils/rpi_config/libfm.conf
  software/utils/rpi_config/user_config/autostart/guake.desktop
Due: none

"raspi OS without libreoffice; updates #1180"
  software/utils/rpi_config/bootstrap.sh
Due: none

"small updates; updates #1180"
  software/utils/rpi_config/README.md
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/user_config/autostart/guake.desktop
Due: none

"tweaked boostrap and update scripts; updates #1180"
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/update.sh
  software/utils/rpi_config/user/.config/autostart/guake.desktop
  software/utils/rpi_config/user/Desktop/Github repo.desktop
  software/utils/rpi_config/user/Desktop/vent-debug.desktop
  software/utils/rpi_config/user/Desktop/vent-gui.desktop
  software/utils/rpi_config/user/Desktop/vent-update.desktop
Due: none

"controller local config script should source .profile for platformio to work; updates #1180"
  software/controller/controller.sh
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/update.sh
Due: controller

"add color package repo; updates #1180"
  software/utils/rpi_config/bootstrap.sh
Due: none

"bootstrap copies hidden user files, readme updated; updates #1180"
  software/utils/rpi_config/README.md
  software/utils/rpi_config/bootstrap.sh
Due: none

"more robust boostrap directories; updates #1180"
  software/utils/rpi_config/bootstrap.sh
Due: none

"readme clarification; updates #1180"
  software/utils/rpi_config/README.md
Due: none

"relative paths for desktop shortcuts; updates #1180"
  software/utils/icons/rw_capture.png
  software/utils/icons/rw_debug.png
  software/utils/icons/rw_inhale.png
  software/utils/icons/rw_logo.png
  software/utils/icons/rw_logo_reverse.png
  software/utils/icons/rw_logo_transparent.png
  software/utils/icons/rw_logo_vertical.png
  software/utils/rpi_config/README.md
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/user/Desktop/Github repo.desktop
  software/utils/rpi_config/user/Desktop/vent-debug.desktop
  software/utils/rpi_config/user/Desktop/vent-gui.desktop
  software/utils/rpi_config/user/Desktop/vent-update.desktop
Due: none

"better GUI debug output for serrial connection error; updates #1180"
  software/gui/src/respira_connected_device.h
  software/utils/rpi_config/bootstrap.sh
Due: gui

"serial configuration; updates #1180"
  software/gui/README.md
  software/utils/rpi_config/README.md
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/update.sh
Due: gui

"update script asks for debug or release; updates #1180"
  software/gui/README.md
  software/utils/rpi_config/update.sh
Due: gui

"oops logic; updates #1180"
  software/gui/src/respira_connected_device.h
Due: gui

"install scripts do their own sudo'ing for specific commands; updates #1180"
  .circleci/common_tests_Dockerfile
  .circleci/controller_tests_Dockerfile
  .circleci/gui_tests_Dockerfile
  software/common/common.sh
  software/controller/controller.sh
  software/gui/gui.sh
  software/utils/rpi_config/bootstrap.sh
Due: controller, gui, common

"FORCED_ROOT as docker ENV; updates #1180"
  .circleci/common_tests_Dockerfile
  .circleci/controller_tests_Dockerfile
  .circleci/gui_tests_Dockerfile
Due: none

"no sudo checks for both scripts; updates #1180"
  software/utils/rpi_config/bootstrap.sh
  software/utils/rpi_config/update.sh
Due: none

"install sudo on docker containers; updates #1180"
  .circleci/common_tests_Dockerfile
  .circleci/controller_tests_Dockerfile
  .circleci/gui_tests_Dockerfile
Due: none

"turn off sudo lecture; updates #1180"
  .circleci/common_tests_Dockerfile
  .circleci/controller_tests_Dockerfile
  .circleci/gui_tests_Dockerfile
Due: none

"doh; updates #1180"
  .circleci/config.yml
Due: none

"run gui tests without docker; updates #1180"
  .circleci/config.yml
Due: none

Path conditions:
  controller: any of: software/controller
  gui: any of: software/gui
  common: any of: software/common
