Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

more fixup
  .circleci/config.yml
  .gitignore
  docs/.gitignore
  software/common/base.sh
  software/controller/controller.sh
  software/debug/.gitignore
  software/debug/debug.sh
  software/gui/gui.sh
Due: controller, gui, common

more refactoring and lib bumps
  .circleci/config.yml
  .gitignore
  software/common/.gitignore
  software/common/common.sh
  software/controller/README.md
  software/controller/controller.sh
  software/controller/platformio.ini
  software/controller/platformio/README.md
  software/gui/.gitignore
Due: controller, gui, common

more better
  software/README.md
  software/bootstrap/update.sh
  software/common/base.sh
  software/tools/.gitignore
  software/tools/miscellaneous/__init__.py
  software/tools/miscellaneous/decoder.py
  software/tools/miscellaneous/mock_cycle_controller.py
  software/tools/poetry.lock
  software/tools/protocols/__init__.py
  software/tools/pyproject.toml
Due: common

desktop files readded
  software/bootstrap/user/Desktop/.gitignore
  software/bootstrap/user/Desktop/vent-debug.desktop
  software/bootstrap/user/Desktop/vent-demo.desktop
  software/bootstrap/user/Desktop/vent-gui.desktop
  software/bootstrap/user/Desktop/vent-update.desktop
Due: none

docs lychee as part of script
  .github/workflows/docs.yml
  docs/docs.sh
  docs/lychee.toml
Due: none

try different way to install docker
  docs/docs.sh
Due: none

run docker non interactive
  docs/docs.sh
Due: none

gitignore refactoring
  .gitignore
  docs/docs.sh
  docs/lychee.toml
  manufacturing/.gitignore
  pcb/.gitignore
  software/common/.gitignore
  software/common/common.sh
  software/controller/.gitignore
  software/controller/controller.sh
  software/gui/.gitignore
  software/gui/gui.sh
Due: controller, gui, common

attempt fix
  software/common/common.sh
  software/gui/gui.sh
Due: gui, common

fix gui build
  software/common/common.sh
  software/gui/gui.sh
Due: gui, common

documentation improvements
  docs/README.md
  docs/docs.sh
  docs/purchasing/README.md
  docs/scripts/make_parts.py
  docs/scripts/make_wiring.py
  docs/wiring/README.md
Due: none

bootstrap to branch
  software/bootstrap/README.md
  software/bootstrap/bootstrap.sh
Due: none

fix update script
  software/bootstrap/update.sh
Due: none

relax python requirements in poetry
  docs/poetry.lock
  docs/pyproject.toml
  software/tools/poetry.lock
  software/tools/pyproject.toml
Due: none

ocd patch update
  software/controller/controller.sh
  software/controller/platformio/stlink.cfg
  software/tools/debug.sh
Due: controller

update bootstrap docs for new raspi os, install ocd-patch during update
  software/bootstrap/README.md
  software/bootstrap/update.sh
Due: none

Update README.md
  README.md
Due: none

Update README.md (#1343)
  README.md
Due: none

completed wiring definition and instructions
  docs/wiring/index.rst
  docs/wiring/pinch_valve.rst
  docs/wiring/pinch_valve.yml
Due: none

updated parts.json
  docs/purchasing/parts.json
Due: none

issue #1284: create wiring files for pinch valve harness
  docs/wiring/pinch_valve.rst
  docs/wiring/pinch_valve.yml
Due: none

Path conditions:
  controller: any of: software/controller
  gui: any of: software/gui
  common: any of: software/common
