Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

codecov.yml:

codecov:
  token: a570973b-0fb7-4c26-867c-ce2fc9d7458e
  require_ci_to_pass: no

coverage:
  precision: 2
  range: "70...100"
  round: down
  status:
    project:
      default:
        target: auto
      controller:
        flags:
          - controller
      gui:
        flags:
          - gui
      common:
        flags:
          - common

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no
  after_n_builds: 3

flags:
  controller:
    paths:
      - software/controller
    carryforward: false
  gui:
    paths:
      - software/gui
    carryforward: false
  common:
    paths:
      - software/common
    carryforward: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

Refactor i2c and move mock subclass to the test suite
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/dma.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/i2c.h
  software/controller/lib/hal/interrupts.h
  software/controller/lib/hal/stepper.cpp
  software/controller/test/i2c/i2c_test.cpp
Due: controller

Remove duplicate `EnableInterrupt` calls + minor updates
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/dma.cpp
  software/controller/lib/hal/dma.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/stepper.cpp
Due: controller

Address review comments
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/dma.cpp
  software/controller/lib/hal/dma.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/i2c.h
  software/controller/lib/hal/interrupts.cpp
  software/controller/lib/hal/interrupts.h
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/system_timer.cpp
Due: controller

Refactor i2c (#1218)
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/dma.cpp
  software/controller/lib/hal/dma.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/i2c.h
  software/controller/lib/hal/interrupts.cpp
  software/controller/lib/hal/interrupts.h
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/system_timer.cpp
  software/controller/test/i2c/i2c_test.cpp
Due: controller

fix native change build issue
  software/controller/platformio.ini
  software/controller/test/nvparams/nvparams_test.cpp
Due: controller

fix unit tests (TODO: find a better way?)
  software/controller/test/debug/eeprom_cmd_test.cpp
  software/controller/test/debug/interface_test.cpp
  software/controller/test/eeprom/eeprom_test.cpp
  software/controller/test/eeprom/test_eeprom.h
  software/controller/test/nvparams/nv_vars_test.cpp
  software/controller/test/nvparams/nvparams_test.cpp
Due: controller

update platformio version to 5.2.5 (most recent one to date, tested successfully)
  software/controller/controller.sh
Due: controller

move eeprom mock subclass to test library
  software/controller/lib/hal/eeprom.cpp
  software/controller/lib/hal/eeprom.h
  software/controller/test/eeprom/eeprom_test.cpp
Due: controller

address review comments
  software/controller/test/debug/eeprom_cmd_test.cpp
  software/controller/test/debug/interface_test.cpp
  software/controller/test/eeprom/eeprom_test.cpp
  software/controller/test/eeprom/mock_eeprom.h
  software/controller/test/nvparams/nv_vars_test.cpp
  software/controller/test/nvparams/nvparams_test.cpp
Due: controller

Remove mock eeprom from coverage reports (#1219)
  software/controller/controller.sh
  software/controller/lib/hal/eeprom.cpp
  software/controller/lib/hal/eeprom.h
  software/controller/platformio.ini
  software/controller/test/debug/eeprom_cmd_test.cpp
  software/controller/test/debug/interface_test.cpp
  software/controller/test/eeprom/eeprom_test.cpp
  software/controller/test/eeprom/mock_eeprom.h
  software/controller/test/nvparams/nv_vars_test.cpp
  software/controller/test/nvparams/nvparams_test.cpp
Due: controller

fix actuator to pass tests
  software/controller/lib/actuators/actuator_base.cpp
  software/controller/lib/debugvars/vars_base.cpp
Due: controller

Add delimiter charaters when appending and prepending to debugvar strings
  software/controller/lib/actuators/actuator_base.cpp
  software/controller/lib/debugvars/vars_base.cpp
  software/controller/lib/debugvars/vars_base.h
  software/controller/test/debug/vars_test.cpp
Due: controller

Fix coverage reports
  software/controller/platformio.ini
Due: controller

address review comments
  software/controller/lib/debugvars/vars_base.cpp
  software/controller/lib/debugvars/vars_base.h
  software/controller/platformio.ini
Due: controller

Fix coverage reports (#1220)
  software/controller/platformio.ini
Due: controller

fix typo in comment
  software/controller/lib/debugvars/vars_base.h
Due: controller

Add delimiter characters when appending and prepending to debugvar strings (#1217)
  software/controller/lib/actuators/actuator_base.cpp
  software/controller/lib/debugvars/vars_base.cpp
  software/controller/lib/debugvars/vars_base.h
  software/controller/test/debug/vars_test.cpp
Due: controller

fix googletest version to allow unit testing
  software/common/platformio.ini
  software/controller/platformio.ini
Due: controller, common

add comment justifying the change
  software/common/platformio.ini
  software/controller/platformio.ini
Due: controller, common

Fix googletest version to v1.10 to allow unit testing again (#1221)
  software/common/platformio.ini
  software/controller/platformio.ini
Due: controller, common

update test hierarchy to new platformio/googletest versions
  software/common/common.sh
  software/common/platformio.ini
  software/common/test/checksum_test.cpp
  software/common/test/test_common/test_main.cpp
  software/common/test_libs/custom_google/gtest_main.h
  software/common/test_libs/custom_google/gtest_print.h
  software/common/test_libs/gtest_print.h
  software/controller/controller.sh
  software/controller/lib/actuators/interpolant.h
  software/controller/platformio.ini
  software/controller/test/README.md
  software/controller/test/actuators/interpolant_test.cpp
  software/controller/test/actuators/test_actuators/test_main.cpp
  software/controller/test/core/blower_fsm_test.cpp
  software/controller/test/core/blower_fsm_test_data.h
  software/controller/test/core/comms_test.cpp
  software/controller/test/core/controller_test.cpp
  software/controller/test/core/flow_integrator_test.cpp
  software/controller/test/core/test_core/test_main.cpp
  software/controller/test/debug/commands/eeprom_cmd_test.cpp
  software/controller/test/debug/commands/peek_cmd_test.cpp
  software/controller/test/debug/commands/poke_cmd_test.cpp
  software/controller/test/debug/commands/trace_cmd_test.cpp
  software/controller/test/debug/commands/var_cmd_test.cpp
  software/controller/test/debug/interface_test.cpp
  software/controller/test/debug/test_debug/test_main.cpp
  software/controller/test/hal/circ_buff_test.cpp
  software/controller/test/hal/eeprom_test.cpp
  software/controller/test/hal/i2c_test.cpp
  software/controller/test/hal/stepper_test.cpp
  software/controller/test/hal/test_hal/test_main.cpp
  software/controller/test/non_volative/nv_vars_test.cpp
  software/controller/test/non_volative/nvparams_test.cpp
  software/controller/test/non_volative/test_nvparams/test_main.cpp
  software/controller/test/test_pid_lib/pid_test.cpp
  software/controller/test/test_sensor/sensors_test.cpp
  software/controller/test_libs/mocks/mock_eeprom.h
Due: controller, common

temporarily use dev version of platformio (planned for release on 05/16), to test on CI
  software/common/common.sh
  software/controller/controller.sh
Due: controller, common

restructure tests some more
  software/controller/controller.sh
  software/controller/test/actuators/test_actuators/test_actuators.cpp
  software/controller/test/core/test_core/test_core.cpp
  software/controller/test/debug/eeprom_cmd_test.cpp
  software/controller/test/debug/peek_cmd_test.cpp
  software/controller/test/debug/poke_cmd_test.cpp
  software/controller/test/debug/test_debug/test_debug.cpp
  software/controller/test/debug/trace_cmd_test.cpp
  software/controller/test/debug/var_cmd_test.cpp
  software/controller/test/hal/test_hal/test_hal.cpp
  software/controller/test/non_volative/test_nvparams/test_nvparams.cpp
Due: controller

update documentation accordingly closes #1222
  software/common/common.sh
  software/common/test_libs/custom_google/custom_google.cpp
  software/controller/README.md
  software/controller/controller.sh
  software/controller/test_libs/mocks/mocks.cpp
Due: controller, common

minor update to scripts
  software/common/common.sh
  software/common/test/checksum_test.cpp
  software/common/test_libs/custom_google/gtest_print.h
  software/controller/README.md
  software/controller/controller.sh
Due: controller, common

Delete .circleci directory
  .circleci/config.yml
Due: none

Delete .github directory
  .github/.codecov.yml
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/task.md
  .github/pull_request_template.md
  .github/workflows/docs.yml
Due: none

Delete docs directory
  docs/.gitignore
  docs/Doxyfile
  docs/Makefile
  docs/README.md
  docs/conf.py
  docs/contributing/CLA.rst
  docs/contributing/contributing.rst
  docs/hardware/hardware_requirements.rst
  docs/hardware/index.rst
  docs/index.rst
  docs/make.bat
  docs/process/index.rst
  docs/process/requirements_management.rst
  docs/software/SDP.rst
  docs/software/SRS.rst
  docs/software/api/doxygen_sphinx.rst
  docs/software/api/index.rst
  docs/software/index.rst
  docs/software/level_of_concern.rst
  docs/system/covent_19.rst
  docs/system/index.rst
  docs/system/system_requirements.rst
Due: none

Delete .gitattributes
  .gitattributes
Due: none
