Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

Create basic unit tests for actuators + self review
  software/controller/integration_tests/blower_test.h
  software/controller/integration_tests/psol_test.h
  software/controller/integration_tests/pure_virtual.cpp
  software/controller/lib/actuators/actuator_base.h
  software/controller/lib/actuators/pinch_valve.h
  software/controller/lib/hal/hal.h
  software/controller/src/pure_virtual.cpp
  software/controller/test/actuators/actuators_test.cpp
  software/controller/test/interpolant/interpolant_test.cpp
Due: controller

Implement Frequency class and declare various frequencies (including some "magic" numbers) as such
  software/common/libs/units/units.h
  software/common/test/units_test.cpp
  software/controller/integration_tests/blower_test.h
  software/controller/integration_tests/psol_test.h
  software/controller/lib/actuators/actuator_base.h
  software/controller/lib/actuators/actuators.h
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/adc.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_mock.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/pwm.cpp
  software/controller/lib/hal/pwm.h
  software/controller/lib/hal/system_timer.cpp
  software/controller/lib/hal/system_timer.h
  software/controller/lib/hal/uart.cpp
  software/controller/lib/hal/uart.h
  software/controller/lib/hal/uart_dma.cpp
  software/controller/lib/hal/uart_dma.h
Due: controller, common

address review comments
  software/controller/integration_tests/pinch_valve_test.h
  software/controller/lib/actuators/actuator_base.h
  software/controller/lib/actuators/actuators.cpp
  software/controller/lib/actuators/actuators.h
  software/controller/lib/actuators/actuators_base.cpp
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/pwm.cpp
  software/controller/lib/non_volatile/nvparams.h
  software/controller/src/main.cpp
  software/controller/test/nvparams/nvparams_test.cpp
Due: controller

address review comments
  software/common/libs/units/units.h
  software/controller/lib/actuators/actuator_base.cpp
  software/controller/lib/actuators/actuator_base.h
  software/controller/lib/actuators/actuators.cpp
  software/controller/lib/actuators/actuators.h
  software/controller/lib/actuators/pinch_valve.cpp
  software/controller/lib/actuators/pinch_valve.h
  software/controller/lib/actuators/pwm_actuator.h
  software/controller/lib/hal/hal_mock.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/pwm.h
  software/controller/lib/hal/system_timer.cpp
  software/controller/lib/hal/system_timer.h
  software/controller/lib/non_volatile/nv_vars.h
  software/controller/lib/non_volatile/nvparams.cpp
  software/controller/lib/non_volatile/nvparams.h
  software/controller/test/actuators/actuators_test.cpp
Due: controller, common

Fix sensor unit tests
  software/controller/lib/core/sensors.cpp
  software/controller/lib/core/sensors.h
  software/controller/test/sensor_tests/sensors_test.cpp
Due: controller

address todo for ADC VoltageRange constant + move more core constants into system_constants file
  software/controller/integration_tests/blower_test.h
  software/controller/integration_tests/psol_test.h
  software/controller/lib/core/actuators.cpp
  software/controller/lib/core/blower_fsm.cpp
  software/controller/lib/core/blower_fsm.h
  software/controller/lib/core/controller.cpp
  software/controller/lib/core/flow_integrator.cpp
  software/controller/lib/core/sensors.cpp
  software/controller/lib/core/sensors.h
  software/controller/lib/core/system_constants.h
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/adc.h
  software/controller/lib/sensors/pressure_sensors.cpp
  software/controller/lib/sensors/pressure_sensors.h
  software/controller/test/blower_fsm/blower_fsm_test.cpp
  software/controller/test/sensor_tests/sensors_test.cpp
Due: controller

Address most review comments. TODO: virtualize GPIO to allow cleaner mock
  software/controller/integration_tests/buzzer_test.h
  software/controller/integration_tests/eeprom_test.h
  software/controller/lib/actuators/actuator_base.h
  software/controller/lib/actuators/pwm_actuator.h
  software/controller/lib/core/actuators.cpp
  software/controller/lib/core/actuators.h
  software/controller/lib/core/sensors.cpp
  software/controller/lib/core/sensors.h
  software/controller/lib/core/system_constants.cpp
  software/controller/lib/core/system_constants.h
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/adc.h
  software/controller/lib/hal/gpio.cpp
  software/controller/lib/hal/gpio.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/led_indicators.cpp
  software/controller/lib/hal/led_indicators.h
  software/controller/lib/hal/pwm.cpp
  software/controller/lib/hal/pwm.h
  software/controller/lib/sensors/sensor_base.h
Due: controller

Abstract actuators and sensors pin mapping in core instead of hal
  software/controller/lib/actuators/actuator_base.h
  software/controller/lib/actuators/actuators.cpp
  software/controller/lib/actuators/actuators.h
  software/controller/lib/actuators/pwm_actuator.h
  software/controller/lib/core/sensors.cpp
  software/controller/lib/core/sensors.h
  software/controller/lib/hal/gpio.cpp
  software/controller/lib/hal/gpio.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/pwm.cpp
  software/controller/lib/hal/pwm.h
  software/controller/src/main.cpp
Due: controller

self review (improve handling of pwm pin mapping) + fix int tests
  software/controller/integration_tests/blower_test.h
  software/controller/integration_tests/buzzer_test.h
  software/controller/integration_tests/eeprom_test.h
  software/controller/integration_tests/psol_test.h
  software/controller/lib/actuators/actuators.cpp
  software/controller/lib/actuators/actuators.h
  software/controller/lib/actuators/pwm_actuator.h
  software/controller/lib/core/sensors.h
  software/controller/lib/hal/gpio.cpp
  software/controller/lib/hal/gpio.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/pwm.cpp
  software/controller/lib/hal/pwm.h
  software/controller/src/main.cpp
Due: controller

Create GPIO pins abstraction to make them easier to parametrize
  software/controller/lib/core/controller.cpp
  software/controller/lib/core/sensors.cpp
  software/controller/lib/core/sensors.h
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/adc.h
  software/controller/lib/hal/gpio.cpp
  software/controller/lib/hal/gpio.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/led_indicators.cpp
  software/controller/lib/hal/led_indicators.h
  software/controller/lib/hal/pwm.cpp
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/stepper.h
  software/controller/lib/sensors/oxygen.cpp
  software/controller/lib/sensors/oxygen.h
  software/controller/lib/sensors/pressure_sensors.cpp
  software/controller/lib/sensors/pressure_sensors.h
  software/controller/lib/sensors/sensor_base.cpp
  software/controller/lib/sensors/sensor_base.h
  software/controller/lib/sensors/venturi.cpp
  software/controller/lib/sensors/venturi.h
  software/controller/src/main.cpp
  software/controller/test/sensor_tests/sensors_test.cpp
Due: controller

Further abstraction of ADC channels in GPIO to make system_constants header manage pin mappings
  software/controller/lib/core/actuators.cpp
  software/controller/lib/core/actuators.h
  software/controller/lib/core/controller.cpp
  software/controller/lib/core/sensors.cpp
  software/controller/lib/core/sensors.h
  software/controller/lib/core/system_constants.h
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/adc.h
  software/controller/lib/hal/gpio.cpp
  software/controller/lib/hal/gpio.h
  software/controller/lib/sensors/oxygen.cpp
  software/controller/lib/sensors/oxygen.h
  software/controller/lib/sensors/pressure_sensors.cpp
  software/controller/lib/sensors/pressure_sensors.h
  software/controller/lib/sensors/sensor_base.cpp
  software/controller/lib/sensors/sensor_base.h
  software/controller/src/main.cpp
  software/controller/test/sensor_tests/sensors_test.cpp
Due: controller

enhance actuators main class and bring it back to core to allow all system constants to reside inside core library
  software/controller/lib/core/actuators.cpp
  software/controller/lib/core/actuators.h
  software/controller/src/main.cpp
Due: controller

Streamline Actuators init and calibration tables linkage
  software/controller/lib/actuators/actuators.cpp
  software/controller/lib/actuators/actuators.h
  software/controller/src/main.cpp
Due: controller

rollback actuators::execute() change to allow proper homing of the pinch valves
  software/controller/lib/core/actuators.cpp
Due: controller

move GPIO mock to separate cpp file
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/adc.h
  software/controller/lib/hal/gpio_mock.cpp
  software/controller/lib/hal/gpio_stm32.cpp
Due: controller

Fix errors due to rebasing
  software/controller/integration_tests/blower_test.h
  software/controller/integration_tests/buzzer_test.h
  software/controller/integration_tests/eeprom_test.h
  software/controller/integration_tests/psol_test.h
  software/controller/lib/actuators/actuator_base.h
  software/controller/lib/actuators/pwm_actuator.h
Due: controller

address reviewer comments (minor ones and left some \TODO for mockability)
  software/controller/lib/actuators/pwm_actuator.h
  software/controller/lib/core/sensors.h
  software/controller/lib/core/system_constants.h
  software/controller/lib/hal/adc.h
  software/controller/lib/hal/gpio.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/pwm.h
  software/controller/lib/sensors/analog_sensor.cpp
  software/controller/lib/sensors/analog_sensor.h
  software/controller/lib/sensors/pressure_sensors.h
  software/controller/lib/sensors/sensor_base.cpp
  software/controller/lib/sensors/sensor_base.h
Due: controller

"test stubs for most gui classes; updates #842"
  software/gui/tests/CMakeLists.txt
  software/gui/tests/alarm_manager_test.h
  software/gui/tests/controller_history_test.h
  software/gui/tests/gui_state_container_test.h
  software/gui/tests/periodic_closure_test.h
  software/gui/tests/pip_exceeded_alarm_test.h
  software/gui/tests/pip_not_reached_alarm_test.h
  software/gui/tests/respira_connected_device_test.h
  software/gui/tests/simple_clock_test.h
  software/gui/tests/time_series_graph_painter_test.h
  software/gui/tests/time_series_graph_test.h
  software/gui/tests/tst_main.cpp
Due: gui

"correct coverage statictics, some code moved to cpps; updates #842"
  software/gui/gui.sh
  software/gui/src/CMakeLists.txt
  software/gui/src/alarm_manager.cpp
  software/gui/src/alarm_manager.h
  software/gui/src/breath_signals.cpp
  software/gui/src/breath_signals.h
  software/gui/tests/CMakeLists.txt
Due: gui

"more implementations moved to cpp; updates #842"
  software/gui/src/CMakeLists.txt
  software/gui/src/alarm_manager.cpp
  software/gui/src/controller_history.cpp
  software/gui/src/controller_history.h
  software/gui/src/gui_state_container.cpp
  software/gui/src/gui_state_container.h
Due: gui

"more implementations moved to cpp; updates #842"
  software/gui/src/CMakeLists.txt
  software/gui/src/latching_alarm.cpp
  software/gui/src/latching_alarm.h
  software/gui/src/periodic_closure.cpp
  software/gui/src/periodic_closure.h
  software/gui/src/respira_connected_device.cpp
  software/gui/src/respira_connected_device.h
  software/gui/src/time_series_graph.cpp
  software/gui/src/time_series_graph.h
Due: gui

"fewer warnings; updates #842"
  software/gui/gui.sh
  software/gui/src/breath_signals.h
  software/gui/src/gui_state_container.h
  software/gui/src/latching_alarm.h
  software/gui/src/logger.h
  software/gui/src/patient_detached_alarm.h
  software/gui/src/periodic_closure.h
  software/gui/src/pip_exceeded_alarm.h
  software/gui/src/pip_not_reached_alarm.h
  software/gui/src/respira_connected_device.h
  software/gui/src/simple_clock.h
  software/gui/src/time_series_graph.cpp
  software/gui/src/time_series_graph.h
  software/gui/src/time_series_graph_painter.cpp
  software/gui/src/time_series_graph_painter.h
Due: gui

Update README.md
  software/gui/README.md
Due: gui

address review comment
  software/gui/README.md
Due: gui

Update OS version in GUI readme file
  software/gui/README.md
Due: gui

Update OS version in GUI readme file (#1201)
  software/gui/README.md
Due: gui

Path conditions:
  controller: any of: software/controller
  gui: any of: software/gui
  common: any of: software/common
