Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

codecov.yml:

codecov:
  token: a570973b-0fb7-4c26-867c-ce2fc9d7458e
  require_ci_to_pass: no

coverage:
  precision: 2
  range: "70...100"
  round: down
  status:
    project:
      default:
        target: auto
      controller:
        flags:
          - controller
      gui:
        flags:
          - gui
      common:
        flags:
          - common

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no
  after_n_builds: 3

flags:
  controller:
    paths:
      - software/controller
    carryforward: false
  gui:
    paths:
      - software/gui
    carryforward: false
  common:
    paths:
      - software/common
    carryforward: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

modified code in gui_state_container.h according to network protocol.pb.h mode names
  software/gui/app/main.qml
  software/gui/src/gui_state_container.cpp
Due: gui

code style and other cleanup
  software/controller/lib/core/breath_detection.cpp
  software/controller/lib/core/breath_detection.h
  software/controller/lib/core/controller.cpp
  software/controller/lib/core/ventilation_fsm.cpp
  software/controller/lib/core/ventilation_fsm.h
  software/gui/CMakeLists.txt
Due: controller, gui

fixed controls.qrc
  software/gui/app/controls/controls.qrc
Due: gui

proto reformat
  .pre-commit-config.yaml
  software/.clang-format
  software/common/generated_libs/network_protocol/network_protocol.pb.h
  software/common/generated_libs/network_protocol/network_protocol.proto
  software/gui/app/modes/VolumeAssistVentilationMode.qml
  software/gui/src/alarm_manager.h
  software/gui/src/gui_state_container.h
  software/gui/src/viv_not_reached_alarm.h
  software/gui/tests/breath_signals_test.h
Due: gui, common

more reformatting
  software/controller/lib/core/controller.h
  software/gui/app/main.cpp
  software/gui/src/breath_signals.cpp
  software/gui/src/gui_state_container.cpp
  software/gui/src/viv_exceeded_alarm.h
Due: controller, gui

fixed or disabled controller tests
  software/controller/lib/core/controller.h
  software/controller/test/core/test_breath_detection/breath_detection_test.cpp
  software/controller/test/core/test_controller/controller_test.cpp
  software/controller/test/test_nvparams/nvparams_test.cpp
Due: controller

working demo of experimental air flow controller
  software/controller/lib/core/controller.cpp
  software/controller/lib/core/controller.h
Due: controller

created nested flow control for pinch valve during fio2 60-100%. Working demo of continuous fio2 control from 21 to 100%
  software/controller/lib/core/controller.cpp
  software/controller/lib/core/controller.h
Due: controller

bringing nested flow-pressure control to fio2 <0.6
  software/controller/lib/core/controller.cpp
Due: controller

a bit of cleanup
  software/controller/lib/core/controller.cpp
  software/controller/lib/core/controller.h
Due: controller

move network protocols from generate to install
  software/common/common.sh
Due: common

disentangle spi bus management from stepper driver
  software/controller/lib/hal/spi.cpp
  software/controller/lib/hal/spi.h
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/stepper.h
Due: controller

generate network protocols separate from installrate
  software/common/common.sh
Due: common

Revert "Updated network protocol outputs"
  software/common/generated_libs/network_protocol/network_protocol.pb.c
  software/common/generated_libs/network_protocol/network_protocol.pb.h
  software/utils/network_protocol_pb2.py
Due: common

Update .gitignore
  .gitignore
Due: none

Create abstraction for SPI Daisy Chain
  software/controller/lib/hal/spi.cpp
  software/controller/lib/hal/spi.h
  software/controller/lib/hal/spi_chain.h
  software/controller/lib/hal/spi_chain.tpp
Due: controller

Add unit tests to spi chain
  software/controller/lib/hal/spi_chain.h
  software/controller/lib/hal/spi_chain.tpp
  software/controller/test/hal/test_spi_chain/spi_chain_test.cpp
  software/controller/test_libs/mocks/mock_spi_chain.h
Due: controller

make stepper use spi daisy chain instead of custom states machine
  software/controller/lib/core/v03system.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/spi_chain.h
  software/controller/lib/hal/spi_chain.tpp
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/stepper.h
Due: controller

Fix formatting and fix stepper (stub) unit test
  software/controller/lib/core/v03system.cpp
  software/controller/lib/hal/spi.cpp
  software/controller/lib/hal/spi.h
  software/controller/lib/hal/spi_chain.h
  software/controller/lib/hal/spi_chain.tpp
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/stepper.h
  software/controller/test/hal/test_spi_chain/spi_chain_test.cpp
  software/controller/test/hal/test_stepper/stepper_test.cpp
  software/controller/test_libs/mocks/mock_spi_chain.h
Due: controller

Add error counter to spi daisy chain
  software/controller/lib/hal/spi_chain.h
  software/controller/lib/hal/spi_chain.tpp
  software/controller/lib/hal/stepper.cpp
  software/controller/test_libs/mocks/mock_spi_chain.h
Due: controller

Self review
  software/controller/lib/hal/spi.cpp
  software/controller/lib/hal/spi.h
  software/controller/lib/hal/spi_chain.h
  software/controller/lib/hal/spi_chain.tpp
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/stepper.h
Due: controller

Add a busy wait to force CS to stay low after sending bytes on SPI daisy chain
  software/controller/lib/hal/spi_chain.tpp
Due: controller

address review comments
  software/controller/lib/hal/spi.h
  software/controller/lib/hal/spi_chain.h
  software/controller/lib/hal/spi_chain.tpp
  software/controller/lib/hal/spi_stm32.cpp
  software/controller/lib/hal/spi_stm32.h
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/stepper.h
  software/controller/test/hal/test_spi_chain/spi_chain_test.cpp
  software/controller/test_libs/mocks/mock_spi.h
  software/controller/test_libs/mocks/mock_spi_chain.h
Due: controller

update README
  software/common/common.sh
  software/common/generated_libs/network_protocol/README.md
Due: common

Address further review comments
  software/controller/lib/hal/spi.h
  software/controller/lib/hal/spi_chain.h
  software/controller/lib/hal/spi_chain.tpp
  software/controller/lib/hal/spi_stm32.h
  software/controller/test/hal/test_spi_chain/daisy_chain_test.cpp
  software/controller/test/hal/test_spi_chain/request_queue_test.cpp
  software/controller/test/hal/test_spi_chain/spi_chain_test.cpp
  software/controller/test/hal/test_spi_chain/spi_chain_test_main.cpp
  software/controller/test_libs/mocks/mock_spi.h
Due: controller

Update common.sh
  software/common/common.sh
Due: common

fix dead link in manufacturing page
  manufacturing/internals/README.md
Due: none

Make spi handling independent from stepper driver (#1291)
  manufacturing/internals/README.md
  software/controller/lib/core/v03system.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/spi.h
  software/controller/lib/hal/spi_chain.h
  software/controller/lib/hal/spi_chain.tpp
  software/controller/lib/hal/spi_stm32.cpp
  software/controller/lib/hal/spi_stm32.h
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/stepper.h
  software/controller/test/hal/test_spi_chain/daisy_chain_test.cpp
  software/controller/test/hal/test_spi_chain/request_queue_test.cpp
  software/controller/test/hal/test_spi_chain/spi_chain_test_main.cpp
  software/controller/test/hal/test_stepper/stepper_test.cpp
  software/controller/test_libs/mocks/mock_spi.h
Due: controller

"moved LEDs into system abstraction; updates #1184"
  software/controller/integration_tests/blower_test.h
  software/controller/integration_tests/buzzer_test.h
  software/controller/integration_tests/eeprom_test.h
  software/controller/integration_tests/idle_test.h
  software/controller/integration_tests/pinch_valve_test.h
  software/controller/integration_tests/psol_test.h
  software/controller/integration_tests/stepper_test.h
  software/controller/lib/core/actuators.h
  software/controller/lib/core/main_loops.cpp
  software/controller/lib/core/system.h
  software/controller/lib/core/system_constants.h
  software/controller/lib/core/v03system.cpp
  software/controller/lib/core/v03system.h
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/clocks_stm32.cpp
  software/controller/lib/hal/clocks_stm32.h
  software/controller/lib/hal/dma.cpp
  software/controller/lib/hal/flash.cpp
  software/controller/lib/hal/gpio.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_mock.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/high_priority_trigger.cpp
  software/controller/lib/hal/high_priority_trigger.h
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/interrupts.h
  software/controller/lib/hal/led_indicators.cpp
  software/controller/lib/hal/peripheral_id.h
  software/controller/lib/hal/pwm.cpp
  software/controller/lib/hal/pwm.h
  software/controller/lib/hal/spi_stm32.cpp
  software/controller/lib/hal/sys_control.cpp
  software/controller/lib/hal/sys_control.h
  software/controller/lib/hal/system_timer.cpp
  software/controller/lib/hal/system_timer.h
  software/controller/lib/hal/timers_stm32.h
  software/controller/lib/hal/uart_base.cpp
  software/controller/src/main.cpp
Due: controller

"HAL refactoring: HighPriorityTrigger and SysControl; updates #1184" (#1288)
  software/controller/integration_tests/blower_test.h
  software/controller/integration_tests/buzzer_test.h
  software/controller/integration_tests/eeprom_test.h
  software/controller/integration_tests/idle_test.h
  software/controller/integration_tests/pinch_valve_test.h
  software/controller/integration_tests/psol_test.h
  software/controller/integration_tests/stepper_test.h
  software/controller/lib/core/actuators.h
  software/controller/lib/core/main_loops.cpp
  software/controller/lib/core/system.h
  software/controller/lib/core/system_constants.h
  software/controller/lib/core/v03system.cpp
  software/controller/lib/core/v03system.h
  software/controller/lib/hal/adc.cpp
  software/controller/lib/hal/clocks_stm32.cpp
  software/controller/lib/hal/clocks_stm32.h
  software/controller/lib/hal/dma.cpp
  software/controller/lib/hal/flash.cpp
  software/controller/lib/hal/gpio.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_mock.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/high_priority_trigger.cpp
  software/controller/lib/hal/high_priority_trigger.h
  software/controller/lib/hal/i2c.cpp
  software/controller/lib/hal/interrupts.h
  software/controller/lib/hal/led_indicators.cpp
  software/controller/lib/hal/peripheral_id.h
  software/controller/lib/hal/pwm.cpp
  software/controller/lib/hal/pwm.h
  software/controller/lib/hal/spi_stm32.cpp
  software/controller/lib/hal/sys_control.cpp
  software/controller/lib/hal/sys_control.h
  software/controller/lib/hal/system_timer.cpp
  software/controller/lib/hal/system_timer.h
  software/controller/lib/hal/timers_stm32.h
  software/controller/lib/hal/uart_base.cpp
  software/controller/src/main.cpp
Due: controller

"try new callback abstractions; updates #1184"
  software/controller/lib/core/main_loops.cpp
  software/controller/lib/core/main_loops.h
  software/controller/lib/hal/callback.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/high_priority_trigger.cpp
  software/controller/lib/hal/high_priority_trigger.h
  software/controller/src/main.cpp
Due: controller

"tweak; updates #1184"
  software/common/libs/callbacks/function.h
  software/controller/lib/core/main_loops.cpp
Due: controller, common

"increased functor pointer size; updates #1184"
  software/common/libs/callbacks/function.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_mock.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/high_priority_trigger.cpp
  software/controller/lib/hal/high_priority_trigger.h
Due: controller, common

"new function implementation; updates #1184"
  software/common/libs/callbacks/function.h
  software/controller/lib/core/main_loops.cpp
  software/controller/lib/core/main_loops.h
  software/controller/lib/hal/callback.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_mock.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/high_priority_trigger.cpp
  software/controller/lib/hal/high_priority_trigger.h
Due: controller, common

"guards; updates #1184"
  software/common/libs/callbacks/callback.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/high_priority_trigger.cpp
Due: controller, common

"using new approach; updates #1184"
  software/common/libs/callbacks/callback.h
  software/common/libs/callbacks/function.h
  software/controller/lib/core/main_loops.cpp
  software/controller/lib/core/main_loops.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/high_priority_trigger.cpp
  software/controller/lib/hal/high_priority_trigger.h
Due: controller, common

Do away with StepMotor:: static members
  software/controller/integration_tests/eeprom_test.h
  software/controller/integration_tests/pinch_valve_test.h
  software/controller/integration_tests/stepper_test.h
  software/controller/lib/actuators/pinch_valve.cpp
  software/controller/lib/actuators/pinch_valve.h
  software/controller/lib/core/v03system.cpp
  software/controller/lib/core/v03system.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/stepper.h
  software/controller/test/hal/test_stepper/stepper_test.cpp
Due: controller

fix some static checker warnings
  software/controller/lib/hal/system_timer.cpp
  software/controller/lib/hal/system_timer.h
Due: controller

Make StpMtr into a proper namespace rather than a typename prefix
  software/controller/integration_tests/pinch_valve_test.h
  software/controller/integration_tests/stepper_test.h
  software/controller/lib/actuators/pinch_valve.cpp
  software/controller/lib/actuators/pinch_valve.h
  software/controller/lib/core/v03system.cpp
  software/controller/lib/core/v03system.h
  software/controller/lib/hal/spi_chain.h
  software/controller/lib/hal/spi_chain.tpp
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/stepper.h
  software/controller/test/hal/test_spi_chain/daisy_chain_test.cpp
  software/controller/test/hal/test_stepper/stepper_test.cpp
Due: controller
