Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

blocked link fix; updates #1324
  docs/lychee.toml
Due: none

"bump some gh workflow packages to eliminate warnings"
  .github/workflows/docs.yml
Due: none

lychee config file update; updates #1324
  docs/lychee.toml
Due: none

Routine deployment and CI script maintenance (#1327)
  .github/workflows/docs.yml
  docs/lychee.toml
  software/controller/controller.sh
  software/gui/gui.sh
Due: controller, gui

"Helpful instructions when doing integraton tests"
  software/controller/controller.sh
Due: controller

"debug interface improvements and compatibility with newer compilers"
  software/controller/lib/debug/interface.cpp
  software/controller/lib/debug/interface.h
Due: controller

"more syntax checks in controller script"
  software/controller/controller.sh
Due: controller

"bump pio verison"
  software/common/common.sh
  software/controller/README.md
  software/controller/controller.sh
  software/controller/platformio/build_config/auto_firmware_version.py
Due: controller, common

"oops"
  software/controller/controller.sh
Due: controller

"simplified controller readme"
  software/controller/README.md
Due: controller

Platformio version bump (#1328)
  software/common/common.sh
  software/controller/README.md
  software/controller/controller.sh
  software/controller/lib/debug/interface.cpp
  software/controller/lib/debug/interface.h
  software/controller/platformio/build_config/auto_firmware_version.py
Due: controller, common

got rid of qnanopainter; updates #1329
  .gitmodules
  software/gui/gui.sh
  software/gui/src/CMakeLists.txt
  software/gui/src/third_party/CMakeLists.txt
  software/gui/src/time_series_graph.cpp
  software/gui/src/time_series_graph.h
  software/gui/src/time_series_graph_painter.cpp
  software/gui/src/time_series_graph_painter.h
  software/gui/tests/CMakeLists.txt
  software/gui/tests/tst_main.cpp
Due: gui

works!; updates #1329
  software/gui/src/CMakeLists.txt
  software/gui/src/time_series_graph.cpp
  software/gui/src/time_series_graph.h
Due: gui

refactoring and cleanup; updates #1329
  software/gui/src/time_series_graph.cpp
  software/gui/src/time_series_graph.h
Due: gui

removed qnanoplotter, bumped to qt6 - builds, but does not render; updates #1329
  software/gui/app/CMakeLists.txt
  software/gui/app/main.qml
  software/gui/gui.sh
  software/gui/src/CMakeLists.txt
  software/gui/tests/CMakeLists.txt
Due: gui

cleanup and install scripts for qt6; updates #1329
  software/gui/app/main.qml
  software/gui/gui.sh
  software/gui/src/CMakeLists.txt
Due: gui

no qt in conan; updates #1329
  software/gui/conanfile.txt
  software/gui/gui.sh
Due: gui

qml type error fixed for AlarmPriority; updates #1329
  software/gui/app/AlarmSound.qml
  software/gui/app/Style.qml
  software/gui/app/controls/AlarmButton.qml
  software/gui/app/controls/AlarmNotificationBanner.qml
  software/gui/app/controls/MainHeader.qml
  software/gui/app/controls/ParameterDisplay.qml
  software/gui/app/controls/ScopeView.qml
  software/gui/app/controls/graphs/PressureGraph.qml
  software/gui/app/controls/readings/PipDisplay.qml
  software/gui/app/main.cpp
  software/gui/conanfile.txt
  software/gui/src/CMakeLists.txt
Due: gui

yes qt in conan; updates #1329
  software/gui/conanfile.txt
Due: gui

no need to deal with submodules in build scripts; updates #1329
  software/gui/gui.sh
Due: gui

gui demo desktop shortcut; updates #1329
  software/utils/rpi_config/user/Desktop/vent-demo.desktop
Due: none

some progress, but broken; updates #1300
  software/common/common.sh
  software/gui/src/CMakeLists.txt
  software/gui/src/breath_signals.cpp
  software/gui/src/controller_history.cpp
  software/gui/src/gui_state_container.cpp
  software/gui/src/patient_detached_alarm.h
Due: gui, common

reenabled time_series_graph tests; updates #1329
  software/gui/tests/CMakeLists.txt
  software/gui/tests/time_series_graph_painter_test.h
  software/gui/tests/tst_main.cpp
Due: gui

Remove qnanopainter submodule (#1331)
  .gitmodules
  software/gui/gui.sh
  software/gui/src/CMakeLists.txt
  software/gui/src/third_party/CMakeLists.txt
  software/gui/src/time_series_graph.cpp
  software/gui/src/time_series_graph.h
  software/gui/src/time_series_graph_painter.cpp
  software/gui/src/time_series_graph_painter.h
  software/gui/tests/CMakeLists.txt
  software/gui/tests/time_series_graph_painter_test.h
  software/gui/tests/tst_main.cpp
  software/utils/rpi_config/user/Desktop/vent-demo.desktop
Due: gui

gui run does not need to generate protocols; updates #1301
  software/gui/gui.sh
Due: gui

nanopb brought in as pio package; updates #1301
  software/common/README.md
  software/common/common.sh
  software/common/platformio.ini
  software/common/third_party/nanopb/README.md
  software/common/third_party/nanopb/pb.h
  software/common/third_party/nanopb/pb_common.c
  software/common/third_party/nanopb/pb_common.h
  software/common/third_party/nanopb/pb_decode.c
  software/common/third_party/nanopb/pb_decode.h
  software/common/third_party/nanopb/pb_encode.c
  software/common/third_party/nanopb/pb_encode.h
  software/controller/platformio.ini
  software/gui/gui.sh
  software/gui/src/common.cmake
Due: controller, gui, common

Nanopb libs brought in as platformio package (#1333)
  software/common/README.md
  software/common/common.sh
  software/common/platformio.ini
  software/common/third_party/nanopb/README.md
  software/common/third_party/nanopb/pb.h
  software/common/third_party/nanopb/pb_common.c
  software/common/third_party/nanopb/pb_common.h
  software/common/third_party/nanopb/pb_decode.c
  software/common/third_party/nanopb/pb_decode.h
  software/common/third_party/nanopb/pb_encode.c
  software/common/third_party/nanopb/pb_encode.h
  software/controller/platformio.ini
  software/gui/gui.sh
  software/gui/src/common.cmake
Due: controller, gui, common

updated badges
  README.md
Due: none

added Qt badge
  README.md
Due: none

fewer badges
  README.md
Due: none

Updated badges on the main readme (#1334)
  README.md
Due: none

removed token from repo, removed codecov pip package install
  .github/.codecov.yml
  software/common/common.sh
Due: common

removed token from repo, removed codecov pip package install (#1335)
  .github/.codecov.yml
  software/common/common.sh
Due: common

regulator assembly with bracket and tubing adapters, PSOL and pinch valve fixes, preliminary placing; updates #1252
  manufacturing/internals/PSOL/PSOL.iam
  manufacturing/internals/internals.iam
  manufacturing/internals/pinch_valve/pinch_valve_assembly.iam
  manufacturing/internals/regulator/reguilator.iam
  manufacturing/third_party/pneumatics/push_to_connect_8mm_x_1-4nptm.ipt
  manufacturing/third_party/regulator_SMC_SRH3000-N02.iam
  manufacturing/third_party/regulator_SMC_bracket.ipt
Due: none

better annotation of regulator and psol; updates #1252
  manufacturing/internals/PSOL/PSOL.iam
  manufacturing/internals/internals.iam
  manufacturing/internals/regulator/reguilator.iam
  manufacturing/internals/regulator/regulator.iam
  manufacturing/internals/tray/equipment_tray.iam
  manufacturing/third_party/regulator_SMC_SRH3000-N02.iam
  manufacturing/third_party/regulator_SMC_SRH3000-N02_body.ipt
  manufacturing/third_party/regulator_SMC_SRH3000-N02_mounting_nut.ipt
  manufacturing/third_party/regulator_SMC_bracket.ipt
  manufacturing/third_party/solenoid_SMC_PVQ31-6G-40-01N.ipt
Due: none

pinch valve simplification, more components in pneumatics assy; updates #1252
  manufacturing/internals/internals.iam
  manufacturing/internals/pinch_valve/pinch_valve_assembly.iam
  manufacturing/internals/pinch_valve/pinch_valve_base.ipt
Due: none

Upload test results to CircleCI
  .circleci/config.yml
Due: none

removing enforcement of using >=1 data arguments in set command when using convenience macro
  software/utils/debug/debug_cli.py
Due: none

Path conditions:
  controller: any of: software/controller
  gui: any of: software/gui
  common: any of: software/common
