Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

Delete .gitignore
  .gitignore
Due: none

Delete .gitmodules
  .gitmodules
Due: none

Delete .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Delete LICENSE
  LICENSE
Due: none

Delete README.md
  README.md
Due: none

Delete open_source.md
  open_source.md
Due: none

upgrade to pio 6.0.2
  software/common/common.sh
  software/controller/controller.sh
Due: controller, common

restructure tests for added granularity
  software/common/platformio.ini
  software/common/test/test_common/binary_utils_test.cpp
  software/common/test/test_common/checksum_test.cpp
  software/common/test/test_common/proto_traits_test.cpp
  software/common/test/test_common/units_test.cpp
  software/controller/platformio.ini
  software/controller/test/actuators/test_actuators/actuators_test.cpp
  software/controller/test/actuators/test_interpolant/interpolant_test.cpp
  software/controller/test/core/test_blower_fsm/blower_fsm_test.cpp
  software/controller/test/core/test_blower_fsm/blower_fsm_test_data.h
  software/controller/test/core/test_comms/comms_test.cpp
  software/controller/test/core/test_controller/controller_test.cpp
  software/controller/test/core/test_flow_integrator/flow_integrator_test.cpp
  software/controller/test/debug/test_debug/test_debug.cpp
  software/controller/test/hal/test_circ_buff/circ_buff_test.cpp
  software/controller/test/hal/test_eeprom/eeprom_test.cpp
  software/controller/test/hal/test_hal/test_hal.cpp
  software/controller/test/hal/test_i2c/i2c_test.cpp
  software/controller/test/hal/test_stepper/stepper_test.cpp
  software/controller/test/non_volative/test_nvparams/test_nvparams.cpp
  software/controller/test/test_debug/debug_test_main.cpp
  software/controller/test/test_debug/eeprom_cmd_test.cpp
  software/controller/test/test_debug/interface_test.cpp
  software/controller/test/test_debug/peek_cmd_test.cpp
  software/controller/test/test_debug/poke_cmd_test.cpp
  software/controller/test/test_debug/trace_cmd_test.cpp
  software/controller/test/test_debug/trace_test.cpp
  software/controller/test/test_debug/var_cmd_test.cpp
  software/controller/test/test_debug/vars_test.cpp
  software/controller/test/test_nvparams/nv_vars_test.cpp
  software/controller/test/test_nvparams/nvparams_test.cpp
  software/controller/test/test_nvparams/nvparams_test_main.cpp
Due: controller, common

restructure commons tests + make failure to generate coverage reports (genhtml) non-blocking (for CI)
  software/common/common.sh
  software/common/test/test_binutils/binary_utils_test.cpp
  software/common/test/test_checksum/checksum_test.cpp
  software/common/test/test_common/proto_traits_test.cpp
  software/common/test/test_prototraits/proto_traits_test.cpp
  software/common/test/test_units/units_test.cpp
  software/controller/README.md
  software/controller/controller.sh
  software/controller/lib/core/blower_fsm.cpp
  software/controller/lib/core/controller.h
  software/controller/lib/debugvars/vars.h
  software/controller/test/README.md
Due: controller, common

address review comments
  software/common/common.sh
Due: common

updated ticket and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/task.md
  .github/pull_request_template.md
Due: none

"a few more wording and formatting improvements; updates #1247"
  .github/pull_request_template.md
Due: none

"verbose liche; updates #1247"
  .circleci/config.yml
Due: none

"link checker exception for all3dp; updates #1247"
  .circleci/config.yml
Due: none

Updated ticket and PR templates (#1253)
  .circleci/config.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/task.md
  .github/pull_request_template.md
Due: none

remove uart_dma (duplicate from uart now) and make uart ports independent from hal so debug and comms don't pull all of Hal.
  software/controller/lib/core/comms.cpp
  software/controller/lib/core/comms.h
  software/controller/lib/debug/interface.cpp
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_mock.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/uart.cpp
  software/controller/lib/hal/uart.h
  software/controller/lib/hal/uart_dma.cpp
  software/controller/lib/hal/uart_dma.h
Due: controller

refactor UART and prepare for integration of uart_dma within same uart class
  software/controller/lib/hal/circular_buffer.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/interrupts.h
  software/controller/lib/hal/uart.cpp
  software/controller/lib/hal/uart.h
  software/controller/test/hal/test_circ_buff/circ_buff_test.cpp
Due: controller

minor enhancements to uart driver (tested in SW mode)
  software/controller/lib/hal/uart.cpp
Due: controller

Debug uart driver in SW mode
  software/controller/lib/hal/uart.cpp
Due: controller

make circular buffer usable for DMA access
  software/controller/lib/hal/circular_buffer.h
  software/controller/lib/hal/uart.cpp
  software/controller/lib/hal/uart.h
  software/controller/test/hal/test_circ_buff/circ_buff_test.cpp
Due: controller

Attempt to add DMA support to UART
  software/controller/lib/hal/circular_buffer.h
  software/controller/lib/hal/uart.cpp
  software/controller/lib/hal/uart.h
  software/controller/test/hal/test_circ_buff/circ_buff_test.cpp
Due: controller

refactor comms and debug to allow mocking uart properly in unit tests
  software/controller/lib/core/comms.cpp
  software/controller/lib/core/comms.h
  software/controller/lib/debug/interface.cpp
  software/controller/lib/debug/interface.h
  software/controller/lib/hal/hal_mock.cpp
  software/controller/lib/hal/uart.cpp
  software/controller/lib/hal/uart.h
  software/controller/src/main.cpp
Due: controller

create uart mock+basic test and update existing unit tests that used uart
  software/controller/lib/hal/uart.cpp
  software/controller/lib/hal/uart.h
  software/controller/test/core/test_comms/comms_test.cpp
  software/controller/test/test_debug/interface_test.cpp
  software/controller/test/test_uart/uart_test.cpp
  software/controller/test_libs/mocks/uart_mock.h
Due: controller

Self review, and protect against Comms::rx_buffer_ overflowing
  software/controller/lib/core/comms.cpp
  software/controller/lib/core/comms.h
  software/controller/lib/hal/uart_base.cpp
Due: controller

change comms way to handle transfers to allow Rx to be handled by DMA
  software/controller/lib/core/comms.cpp
  software/controller/lib/core/comms.h
  software/controller/lib/hal/uart_base.cpp
  software/controller/lib/hal/uart_base.h
  software/controller/lib/hal/uart_dma.cpp
  software/controller/lib/hal/uart_dma.h
  software/controller/lib/hal/uart_soft.cpp
Due: controller

address static checker warnings (silence some)
  software/controller/lib/core/comms.cpp
  software/controller/lib/core/comms.h
  software/controller/lib/hal/dma.cpp
  software/controller/lib/hal/uart_base.h
  software/controller/lib/hal/uart_dma.h
  software/controller/lib/hal/uart_soft.cpp
  software/controller/lib/hal/uart_soft.h
  software/controller/test/test_uart/uart_test.cpp
  software/controller/test_libs/mocks/uart_mock.h
Due: controller

make distinct subclasses to SW vs DMA uart Channels
  software/controller/integration_tests/eeprom_test.h
  software/controller/lib/core/comms.cpp
  software/controller/lib/core/comms.h
  software/controller/lib/hal/circular_buffer.h
  software/controller/lib/hal/dma.cpp
  software/controller/lib/hal/dma.h
  software/controller/lib/hal/uart.cpp
  software/controller/lib/hal/uart.h
  software/controller/test/core/test_comms/comms_test.cpp
  software/controller/test/hal/test_circ_buff/circ_buff_test.cpp
  software/controller/test/test_debug/interface_test.cpp
  software/controller/test/test_uart/uart_test.cpp
  software/controller/test_libs/mocks/uart_mock.h
Due: controller

Address review comments.
  software/controller/lib/core/comms.cpp
  software/controller/lib/debug/interface.cpp
  software/controller/lib/debug/interface.h
  software/controller/lib/hal/uart_base.h
Due: controller

split uart in three
  software/controller/lib/core/comms.h
  software/controller/lib/debug/interface.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/uart_base.cpp
  software/controller/lib/hal/uart_base.h
  software/controller/lib/hal/uart_dma.cpp
  software/controller/lib/hal/uart_dma.h
  software/controller/lib/hal/uart_soft.cpp
  software/controller/lib/hal/uart_soft.h
  software/controller/test_libs/mocks/uart_mock.h
Due: controller

final pass after rebase
  software/controller/lib/debug/debug_types.h
  software/controller/lib/debug/interface.cpp
  software/controller/lib/debug/interface.h
  software/controller/lib/debug/peek_cmd.cpp
  software/controller/lib/debug/poke_cmd.cpp
  software/controller/lib/debug/var_cmd.cpp
  software/controller/test/test_debug/trace_cmd_test.cpp
Due: controller

clang-format hook
  software/controller/test/core/test_comms/comms_test.cpp
Due: controller

Refactor UART and allow UART via DMA (not enabled by default yet) (#1223)
  software/controller/integration_tests/eeprom_test.h
  software/controller/lib/core/comms.cpp
  software/controller/lib/core/comms.h
  software/controller/lib/debug/debug_types.h
  software/controller/lib/debug/interface.cpp
  software/controller/lib/debug/interface.h
  software/controller/lib/debug/peek_cmd.cpp
  software/controller/lib/debug/poke_cmd.cpp
  software/controller/lib/debug/var_cmd.cpp
  software/controller/lib/hal/circular_buffer.h
  software/controller/lib/hal/dma.cpp
  software/controller/lib/hal/dma.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_mock.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/interrupts.h
  software/controller/lib/hal/uart.cpp
  software/controller/lib/hal/uart_base.cpp
  software/controller/lib/hal/uart_base.h
  software/controller/lib/hal/uart_dma.cpp
  software/controller/lib/hal/uart_dma.h
  software/controller/lib/hal/uart_soft.cpp
  software/controller/lib/hal/uart_soft.h
  software/controller/src/main.cpp
  software/controller/test/core/test_comms/comms_test.cpp
  software/controller/test/hal/test_circ_buff/circ_buff_test.cpp
  software/controller/test/test_debug/interface_test.cpp
  software/controller/test/test_debug/trace_cmd_test.cpp
  software/controller/test/test_uart/uart_test.cpp
  software/controller/test_libs/mocks/uart_mock.h
Due: controller

Added instructions for the RPi imager setup
  software/utils/rpi_config/README.md
Due: none

Update README.md
  software/utils/rpi_config/README.md
Due: none

Added instructions for the RPi imager setup (#1200)
  software/utils/rpi_config/README.md
Due: none

Path conditions:
  controller: any of: software/controller
  gui: any of: software/gui
  common: any of: software/common
