Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

Renaming
  software/common/libs/framing/soft_rx_buffer.h
Due: common

Remove trivial test, add more fuzzing tests
  software/controller/test/frame_detector/frame_detector_test.cpp
Due: controller

Add infrastructure for error testing
  software/controller/test/frame_detector/frame_detector_test.cpp
Due: controller

Add test for errors during RX
  software/controller/test/frame_detector/frame_detector_test.cpp
Due: controller

Chase timeout remove
  software/controller/lib/hal/rx_buf_uart_dma.h
Due: controller

Add last fixes for review
  software/controller/test/frame_detector/frame_detector_test.cpp
Due: controller

Add ultimate fuzzing test prepending random noise to a valid frame
  software/controller/test/frame_detector/frame_detector_test.cpp
Due: controller

fixed outstating errors and warnings
  software/common/libs/framing/frame_detector.h
  software/common/libs/framing/soft_rx_buffer.h
  software/controller/lib/hal/pure_virtual.cpp
  software/controller/lib/hal/rx_buf_uart_dma.h
  software/controller/test/frame_detector/frame_detector_test.cpp
Due: controller, common

addressed some of PR review
  software/common/libs/framing/frame_detector.h
  software/common/libs/framing/soft_rx_buffer.h
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/pure_virtual.cpp
  software/controller/lib/hal/rx_buf_uart_dma.h
  software/controller/test/frame_detector/frame_detector_test.cpp
Due: controller, common

backported some fixes from downstream PRs
  software/common/libs/framing/frame_detector.h
  software/common/libs/framing/soft_rx_buffer.h
  software/controller/lib/hal/rx_buf_uart_dma.h
Due: controller, common

removed TEST_MODE ifdefs
  software/common/libs/framing/frame_detector.h
  software/common/platformio.ini
  software/controller/lib/hal/rx_buf_uart_dma.h
Due: controller, common

cleanup and cleaner ifdefs
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/uart_dma.cpp
Due: controller

backporting downstream improvements
  software/common/libs/checksum/checksum.cpp
  software/common/libs/checksum/checksum.h
  software/controller/lib/hal/uart_dma.cpp
  software/utils/debug/scripts/README.md
Due: controller, common

RxBuffer abstraction and template implementation file for FrameDetector
  software/common/libs/framing/frame_detector.h
  software/common/libs/framing/frame_detector.tpp
  software/common/libs/framing/rx_buffer.h
  software/common/libs/framing/soft_rx_buffer.h
  software/controller/lib/hal/rx_buf_uart_dma.h
  software/controller/test/frame_detector/frame_detector_test.cpp
Due: controller, common

better mocking of framing classes, more externalized template implementations
  software/common/libs/framing/frame_detector.h
  software/common/libs/framing/frame_detector.tpp
  software/common/libs/framing/rx_buffer.h
  software/common/libs/framing/soft_rx_buffer.h
  software/common/libs/framing/soft_rx_buffer.tpp
  software/controller/lib/hal/rx_buf_uart_dma.h
  software/controller/lib/hal/rx_buf_uart_dma.tpp
  software/controller/test/frame_detector/frame_detector_test.cpp
Due: controller, common

frame_detector_test moved to common, placeholder for uart_dma buffer test
  software/common/libs/framing/frame_detector.h
  software/common/libs/framing/frame_detector.tpp
  software/common/libs/framing/soft_rx_buffer.h
  software/common/test/frame_detector_test.cpp
  software/controller/lib/hal/uart_dma.cpp
  software/controller/lib/hal/uart_dma.h
  software/controller/test/framing/rx_buf_uart_dma_test.cpp
Due: controller, common

added tpp files to coverage generation scripts
  software/common/common.sh
  software/controller/controller.sh
Due: controller, common

added better warnings to tpp files
  software/common/libs/framing/frame_detector.tpp
  software/common/libs/framing/soft_rx_buffer.tpp
  software/controller/lib/hal/rx_buf_uart_dma.tpp
Due: controller, common

updated some documentation and gitignore
  .gitignore
  software/common/README.md
  software/controller/README.md
Due: controller, common

placeholder test for SoftRxBuffer
  software/common/test/soft_rx_buffer_test.cpp
Due: common

more documentation updates
  software/controller/README.md
Due: controller

API documentation
  software/common/libs/framing/rx_buffer.h
  software/common/libs/framing/soft_rx_buffer.h
Due: common

"git submodule clean with forced option; updates #866"
  software/gui/gui.sh
Due: gui

explicit SoftRxBuffer unit tests
  software/common/libs/framing/frame_detector.h
  software/common/libs/framing/soft_rx_buffer.h
  software/common/test/frame_detector_test.cpp
  software/common/test/soft_rx_buffer_test.cpp
Due: common

minor fixup of rx_buf_uart_dma mock functions
  software/controller/lib/hal/rx_buf_uart_dma.h
  software/controller/lib/hal/rx_buf_uart_dma.tpp
Due: controller

unit test fixtures for state transitions
  software/common/test/frame_detector_test.cpp
Due: common

Simplify RxError naming
  software/common/libs/framing/framing.h
  software/common/libs/framing/framing_spec_chars.h
  software/common/libs/framing/framing_streams.h
  software/common/libs/proto_traits/proto_traits.h
  software/controller/lib/hal/uart_dma_stream.h
  software/controller/test/framing/framing_test.cpp
  software/controller/test/framing_streams/framing_streams_test.cpp
  software/gui/src/qserial_output_stream.h
Due: controller, gui, common

Delete Arduino style serial interface, enable UART over DMA, update comms to use UART_DMA and framing
  software/common/libs/framing/framing.h
  software/controller/integration_tests/eeprom_test.h
  software/controller/lib/core/comms.cpp
  software/controller/lib/core/comms.h
  software/controller/lib/hal/hal.h
  software/controller/lib/hal/hal_mock.cpp
  software/controller/lib/hal/hal_stm32.cpp
  software/controller/lib/hal/uart_dma.cpp
  software/controller/platformio.ini
  software/controller/src/main.cpp
  software/controller/test/comms/comms_test.cpp
  software/controller/test/framing/framing_test.cpp
  software/gui/common.pri
  software/gui/gui.sh
  software/gui/src/respira_connected_device.h
  software/utils/README.md
  software/utils/controller_frame_decoder.py
  software/utils/decoder.py
Due: controller, gui, common

Added assembly drawings and pdfs
  manufacturing/enclosure/electronics_support_frame.idw
  manufacturing/enclosure/electronics_support_frame.pdf
  manufacturing/enclosure/side_assembly.idw
  manufacturing/enclosure/side_assembly.pdf
  manufacturing/internals/electronics/electronics_support_frame_assembly.idw
  manufacturing/internals/electronics/electronics_support_frame_assembly.pdf
  manufacturing/internals/tray/equipment_bracket_assembly.idw
  manufacturing/internals/tray/equipment_bracket_assembly.pdf
Due: none

Improvements to GUI scripts (#1179)
  .circleci/config.yml
  software/gui/gui.sh
  software/gui/src/alarm_manager.h
  software/gui/src/breath_signals.h
  software/gui/src/chrono.h
  software/gui/src/connected_device.h
  software/gui/src/controller_history.h
  software/gui/src/gui_state_container.cpp
  software/gui/src/gui_state_container.h
  software/gui/src/latching_alarm.h
  software/gui/src/logger.cpp
  software/gui/src/logger.h
  software/gui/src/patient_detached_alarm.h
  software/gui/src/periodic_closure.cpp
  software/gui/src/periodic_closure.h
  software/gui/src/pip_exceeded_alarm.h
  software/gui/src/pip_not_reached_alarm.h
  software/gui/src/respira_connected_device.h
  software/gui/src/simple_clock.h
  software/gui/src/time_series_graph.h
  software/gui/src/time_series_graph_painter.cpp
  software/gui/src/time_series_graph_painter.h
  software/gui/tests/breath_signals_test.h
  software/gui/tests/latching_alarm_test.h
  software/gui/tests/logger_test.h
  software/gui/tests/patient_detached_alarm_test.h
  software/gui/tests/tst_main.cpp
Due: gui

Change the way we initialize the (new) NVFloatArray so init is more straightforward
  software/controller/integration_tests/pinch_valve_test.h
  software/controller/lib/core/interpolant.h
  software/controller/lib/debugvars/vars.h
  software/controller/lib/debugvars/vars_base.h
  software/controller/src/main.cpp
Due: controller

fix #imports made necessary after rebase
  software/controller/lib/core/actuators.cpp
  software/controller/lib/core/nvparams.h
Due: controller

Update pinch valve integration test
  software/controller/integration_tests/pinch_valve_test.h
Due: controller

add unit tests for NVFloatArray
  software/controller/test/debug/vars_test.cpp
Due: controller

Create debugvar which are initialized from and write to nvparams when set.
  software/controller/integration_tests/pinch_valve_test.h
  software/controller/lib/core/actuators.cpp
  software/controller/lib/core/actuators.h
  software/controller/lib/core/nvparams.cpp
  software/controller/lib/core/nvparams.h
  software/controller/lib/core/pinch_valve.cpp
  software/controller/lib/core/pinch_valve.h
  software/controller/lib/debugvars/vars.h
  software/controller/lib/debugvars/vars_base.h
  software/controller/lib/hal/eeprom.cpp
  software/controller/lib/hal/eeprom.h
  software/controller/src/main.cpp
  software/controller/test/nvparams/nvparams_test.cpp
Due: controller

Abstract linear interpolations out of pinch valve implementation
  software/controller/lib/core/actuators.cpp
  software/controller/lib/core/actuators.h
  software/controller/lib/core/interpolant.h
  software/controller/lib/core/nvparams.h
  software/controller/lib/core/pinch_valve.cpp
  software/controller/lib/core/pinch_valve.h
  software/controller/src/main.cpp
Due: controller

Update debug var tests for NonVolatile
  software/controller/lib/core/nvparams.cpp
  software/controller/lib/core/nvparams.h
  software/controller/lib/debugvars/vars.h
  software/controller/lib/debugvars/vars_base.h
  software/controller/test/debug/vars_test.cpp
Due: controller

Make pinch valves responsible for storing their calibration interpolant
  software/controller/integration_tests/pinch_valve_test.h
  software/controller/lib/core/actuators.h
  software/controller/lib/core/interpolant.h
  software/controller/lib/core/pinch_valve.cpp
  software/controller/lib/core/pinch_valve.h
  software/controller/src/main.cpp
Due: controller

add interpolant tests
  software/controller/lib/core/interpolant.h
  software/controller/test/interpolant/interpolant_test.cpp
Due: controller

Path conditions:
  controller: any of: software/controller
  gui: any of: software/gui
  common: any of: software/common
