Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

codecov.yml:

codecov:
  token: a570973b-0fb7-4c26-867c-ce2fc9d7458e
  require_ci_to_pass: no

coverage:
  precision: 2
  range: "70...100"
  round: down
  status:
    project:
      default:
        target: auto
      controller:
        flags:
          - controller
      gui:
        flags:
          - gui
      common:
        flags:
          - common

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no
  after_n_builds: 3

flags:
  controller:
    paths:
      - software/controller
    carryforward: false
  gui:
    paths:
      - software/gui
    carryforward: false
  common:
    paths:
      - software/common
    carryforward: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

wip added new drawings
  manufacturing/enclosure/bottom_assembly.idw
  manufacturing/enclosure/bottom_assembly.pdf
  manufacturing/internals/tray/equipment_bracket_flat.idw
  manufacturing/internals/tray/equipment_bracket_flat.pdf
  manufacturing/internals/tray/equipment_bracket_part.idw
  manufacturing/internals/tray/equipment_bracket_part.pdf
Due: none

remaining review tasks DONE
  manufacturing/enclosure/electronics_support_frame.idw
  manufacturing/enclosure/electronics_support_frame.pdf
  manufacturing/enclosure/side_left.iam
  manufacturing/enclosure/side_left_assembly.idw
  manufacturing/enclosure/side_left_assembly.pdf
  manufacturing/internals/electronics/electronics_support_frame.idw
  manufacturing/internals/electronics/electronics_support_frame.pdf
  manufacturing/internals/electronics/electronics_support_frame_assembly.idw
  manufacturing/internals/electronics/electronics_support_frame_assembly.pdf
Due: none

Taking some of the review comments
  software/controller/lib/core/interpolant.h
  software/controller/lib/core/pinch_valve.h
  software/controller/lib/debugvars/vars.h
  software/controller/lib/debugvars/vars_base.h
  software/controller/lib/non_volatile/nv_vars.h
  software/controller/lib/non_volatile/nvparams.cpp
  software/controller/lib/non_volatile/nvparams.h
  software/controller/test/interpolant/interpolant_test.cpp
Due: controller

Enhance nv_vars unit tests, per review comments
  software/controller/lib/non_volatile/nv_vars.h
  software/controller/test/debug/vars_test.cpp
  software/controller/test/nvparams/nv_vars_test.cpp
Due: controller

improve interpolant Interpolation test readability
  software/controller/test/interpolant/interpolant_test.cpp
Due: controller

Store pinch valves calibration in EEPROM (#1174)
  software/controller/integration_tests/pinch_valve_test.h
  software/controller/lib/core/actuators.cpp
  software/controller/lib/core/actuators.h
  software/controller/lib/core/interpolant.h
  software/controller/lib/core/pinch_valve.cpp
  software/controller/lib/core/pinch_valve.h
  software/controller/lib/debugvars/vars.h
  software/controller/lib/hal/eeprom.cpp
  software/controller/lib/hal/eeprom.h
  software/controller/lib/non_volatile/nv_vars.h
  software/controller/lib/non_volatile/nvparams.cpp
  software/controller/lib/non_volatile/nvparams.h
  software/controller/src/main.cpp
  software/controller/test/debug/vars_test.cpp
  software/controller/test/interpolant/interpolant_test.cpp
  software/controller/test/nvparams/nv_vars_test.cpp
  software/controller/test/nvparams/nvparams_test.cpp
Due: controller

Remove some warnings (including some from check tools that come with pio 5.2)
  software/.clang-tidy
  software/controller/lib/core/interpolant.h
  software/controller/lib/core/pinch_valve.h
  software/controller/lib/debug/eeprom_cmd.cpp
  software/controller/lib/hal/hal.h
  software/controller/lib/non_volatile/nvparams.h
  software/controller/platformio.ini
Due: controller

Remove some warnings (including some from check tools that come with pio 5.2) (#1192)
  software/.clang-tidy
  software/controller/lib/core/interpolant.h
  software/controller/lib/core/pinch_valve.h
  software/controller/lib/debug/eeprom_cmd.cpp
  software/controller/lib/hal/hal.h
  software/controller/lib/non_volatile/nvparams.h
  software/controller/platformio.ini
Due: controller

review actions handle cutout and bent display support frame solved missing one is center tab in top view for side_left. Side left pdf and idw will be generated again
  manufacturing/enclosure/display_support_frame_bent.idw
  manufacturing/enclosure/display_support_frame_bent.pdf
  manufacturing/enclosure/side_left.idw
  manufacturing/enclosure/side_left.pdf
Due: none

"side panel tab rounding fixed, sketch visibilities and representations cleaned up; updates #1099"
  manufacturing/enclosure/bottom.iam
  manufacturing/enclosure/bottom.ipt
  manufacturing/enclosure/enclosure.iam
  manufacturing/enclosure/side.iam
  manufacturing/enclosure/side.ipt
  manufacturing/enclosure/side_left.iam
  manufacturing/enclosure/side_left.ipt
  manufacturing/internals/internals.iam
  manufacturing/ventilator.iam
Due: none

"GUI builds with CMake; updates #1180"
  .gitignore
  software/gui/CMakeLists.txt
  software/gui/app/CMakeLists.txt
  software/gui/app/controls/controls.qrc
  software/gui/app/fonts/fonts.qrc
  software/gui/app/images/images.qrc
  software/gui/app/modes/modes.qrc
  software/gui/app/qml.qrc
  software/gui/app/sounds/sounds.qrc
  software/gui/cmake/CompilerConfig.cmake
  software/gui/cmake/CoverageReports.cmake
  software/gui/cmake/EnsureBuildType.cmake
  software/gui/cmake/FindGTestFix.cmake
  software/gui/cmake/InstallConfig.cmake
  software/gui/cmake/OutputDirConfig.cmake
  software/gui/cmake/QtLibraryConfig.cmake
  software/gui/cmake/conan.cmake
  software/gui/cmake/gcovr
  software/gui/common.cmake
  software/gui/conanfile.txt
  software/gui/src/CMakeLists.txt
  software/gui/src/logger.h
  software/gui/src/third_party/CMakeLists.txt
Due: gui

"simplified and streamlined CMake config; updates #1180"
  software/gui/CMakeLists.txt
  software/gui/app/CMakeLists.txt
  software/gui/cmake/InstallConfig.cmake
  software/gui/cmake/QtMacFix.cmake
  software/gui/common.cmake
  software/gui/src/CMakeLists.txt
  software/gui/src/common.cmake
  software/gui/src/third_party/CMakeLists.txt
Due: gui

"added coverage flags to targets; updates #1180"
  software/gui/CMakeLists.txt
  software/gui/src/CMakeLists.txt
  software/gui/tests/CMakeLists.txt
Due: gui

"unit tests via cmake; updates #1180"
  software/gui/CMakeLists.txt
  software/gui/cmake/FindGTestFix.cmake
  software/gui/conanfile.txt
  software/gui/tests/CMakeLists.txt
Due: gui

autoconfigure conan
  .circleci/gui_tests_Dockerfile
  software/gui/gui.sh
Due: gui

"bash script updated to use cmake; updates #1180"
  software/gui/gui.sh
Due: gui

"removed .pro and .pri files ; updates #1180"
  software/gui/CMakeLists.txt
  software/gui/app/app.pro
  software/gui/cmake/CoverageReports.cmake
  software/gui/common.pri
  software/gui/defaults.pri
  software/gui/gui.pro
  software/gui/gui.sh
  software/gui/src/src.pro
  software/gui/tests/tests.pro
Due: gui

"cmake boostraps conan; updates #1180"
  .gitignore
  software/gui/CMakeLists.txt
  software/gui/cmake/conan.cmake
Due: gui

removed spdlog as submodule
  .gitmodules
Due: none

rmoved bespoke copy of gcovr
  .gitignore
  software/gui/cmake/gcovr
Due: gui

"docker parse error; updates #1180"
  .circleci/gui_tests_Dockerfile
Due: none

"add headless run; updates #1180"
  .circleci/gui_tests_Dockerfile
  software/gui/gui.sh
Due: gui

"headless run inside script; updates #1180"
  .circleci/gui_tests_Dockerfile
  software/gui/gui.sh
Due: gui

"forced root for scripts; updates #1180"
  .circleci/gui_tests_Dockerfile
Due: none

"run unit tests with xvfb; updates #1180"
  .circleci/gui_tests_Dockerfile
  software/gui/gui.sh
Due: gui

"install gcovr; updates #1180"
  software/gui/cmake/CoverageReports.cmake
  software/gui/gui.sh
Due: gui

"install most things via script; updates #1180"
  .circleci/gui_tests_Dockerfile
  software/gui/gui.sh
Due: gui

"typo; updates #1180"
  software/gui/gui.sh
Due: gui

"coverage trimmed; updates #1180"
  software/gui/cmake/CoverageReports.cmake
  software/gui/gui.sh
Due: gui

"docker script error; updates #1180"
  .circleci/gui_tests_Dockerfile
Due: none

"clang-tidy checks tuned for GUI, bash script cleaned up; updates #1180"
  .circleci/gui_tests_Dockerfile
  software/gui/.clang-tidy
  software/gui/gui.sh
Due: gui

"simplify; updates #1180"
  .circleci/gui_tests_Dockerfile
Due: none

"conan fixes; updates #1180"
  .circleci/gui_tests_Dockerfile
  software/gui/gui.sh
Due: gui

"no need to add conancenter, fixed dead links; updates #1180"
  manufacturing/internals/pinch_valve/README.md
  software/controller/integration_tests/README.md
  software/gui/gui.sh
Due: controller, gui

"bincrafters; updates #1180"
  software/gui/gui.sh
Due: gui

"conan revisions enabled; updates #1180"
  software/gui/gui.sh
Due: gui
