Repository RespiraWorks/Ventilator: changes, and which Codecov flags are due for each by the changed paths.
All: controller, gui, common

abstracted high level function calls
  software/utils/debug/controller_debug.py
  software/utils/debug/debug_cli.py
  software/utils/debug/debug_funcs.py
Due: none

var_info already has typechecking, removing from controller_debug
  software/utils/debug/controller_debug.py
Due: none

typo in variable_set() and debug_cli
  software/utils/debug/controller_debug.py
  software/utils/debug/debug_cli.py
Due: none

Adds high level functions to debugging interface (#1290)
  .circleci/config.yml
  software/controller/controller.sh
  software/utils/debug/controller_debug.py
  software/utils/debug/debug_cli.py
  software/utils/debug/debug_funcs.py
  software/utils/debug/unit_test.py
  software/utils/debug/var_info.py
Due: controller

"script generates serialization code; updates #1263"
  .circleci/config.yml
  .gitignore
  .pre-commit-config.yaml
  software/.clang-format
  software/common/README.md
  software/common/common.sh
  software/common/generated_libs/network_protocol/network_protocol.pb.c
  software/common/generated_libs/network_protocol/network_protocol.pb.h
  software/common/generated_libs/network_protocol/network_protocol.proto
  software/common/generated_libs/protocols/.clang-format
  software/common/generated_libs/protocols/network_protocol.proto
  software/common/third_party/nanopb/README.md
  software/common/third_party/nanopb/pb.h
  software/common/third_party/nanopb/pb_common.c
  software/common/third_party/nanopb/pb_common.h
  software/common/third_party/nanopb/pb_decode.c
  software/common/third_party/nanopb/pb_decode.h
  software/common/third_party/nanopb/pb_encode.c
  software/common/third_party/nanopb/pb_encode.h
  software/controller/controller.sh
  software/design/controller_architecture.md
  software/gui/gui.sh
  software/gui/src/common.cmake
  software/utils/README.md
  software/utils/debug/controller_debug.py
  software/utils/debug/debug_cli.py
  software/utils/debug/var_info.py
  software/utils/decoder.py
  software/utils/mock_cycle_controller.py
  software/utils/network_protocol_pb2.py
Due: controller, gui, common

Automated generation of communications protocol bindings
  .circleci/config.yml
  .gitignore
  .pre-commit-config.yaml
  software/.clang-format
  software/common/README.md
  software/common/common.sh
  software/common/generated_libs/network_protocol/network_protocol.pb.c
  software/common/generated_libs/network_protocol/network_protocol.pb.h
  software/common/generated_libs/network_protocol/network_protocol.proto
  software/common/generated_libs/protocols/.clang-format
  software/common/generated_libs/protocols/network_protocol.proto
  software/common/third_party/nanopb/README.md
  software/common/third_party/nanopb/pb.h
  software/common/third_party/nanopb/pb_common.c
  software/common/third_party/nanopb/pb_common.h
  software/common/third_party/nanopb/pb_decode.c
  software/common/third_party/nanopb/pb_decode.h
  software/common/third_party/nanopb/pb_encode.c
  software/common/third_party/nanopb/pb_encode.h
  software/controller/controller.sh
  software/design/controller_architecture.md
  software/gui/gui.sh
  software/gui/src/common.cmake
  software/utils/README.md
  software/utils/debug/controller_debug.py
  software/utils/debug/debug_cli.py
  software/utils/debug/var_info.py
  software/utils/decoder.py
  software/utils/mock_cycle_controller.py
  software/utils/network_protocol_pb2.py
Due: controller, gui, common

"vent number is now string; updates #376"
  manufacturing/peripherals.md
  software/controller/lib/non_volatile/nvparams.cpp
  software/controller/lib/non_volatile/nvparams.h
  software/controller/test/test_nvparams/nvparams_test.cpp
  software/utils/debug/controller_debug.py
  software/utils/debug/debug_cli.py
  software/utils/debug/var_info.py
Due: controller

Serial numbers stored as strings
  manufacturing/peripherals.md
  software/controller/lib/non_volatile/nvparams.cpp
  software/controller/lib/non_volatile/nvparams.h
  software/controller/test/test_nvparams/nvparams_test.cpp
  software/utils/debug/controller_debug.py
  software/utils/debug/debug_cli.py
  software/utils/debug/var_info.py
Due: controller

Temporary fix for #1298, not blocking interrupts when high priority loop queues data to the stepper SPI chain More rationales can be found in the code.
  software/controller/lib/hal/spi_chain.tpp
Due: controller

Temporary fix for #1298, not blocking interrupts when high priority loop queues data to the stepper SPI chain (#1305)
  software/controller/lib/hal/spi_chain.tpp
Due: controller

"refactored webcam scripts; updates #721"
  software/controller/integration_tests/webcam/stream-to-youtube.sh
  software/controller/integration_tests/webcam/stream-webcam.sh
  software/controller/integration_tests/webcam/stream-webcam1.sh
  software/controller/integration_tests/webcam/stream-webcam2.sh
Due: controller

wiring documentation scripts accomodate more assemblies, convenient docs generation bash utility; updates #1260
  .github/workflows/docs.yml
  .gitignore
  docs/README.md
  docs/docs.sh
  docs/purchasing/make_parts.sh
  docs/wiring/make_wiring.sh
Due: none

Update docs/docs.sh
  docs/docs.sh
Due: none

PR#1308: adding python3-pip to docs.sh install list
  docs/docs.sh
Due: none

reintroduced docs branch condition and fixed ali links; updates #1260
  .github/workflows/docs.yml
  manufacturing/internals/blower/README.md
  manufacturing/internals/display_panel/README.md
Due: none

added aliexpress to liche exclude; updates #1260
  .circleci/config.yml
Due: none

Documentation scripts improved, especially for wiring assemblies (#1308)
  .circleci/config.yml
  .github/workflows/docs.yml
  .gitignore
  docs/README.md
  docs/docs.sh
  docs/purchasing/make_parts.sh
  docs/wiring/make_wiring.sh
  manufacturing/internals/blower/README.md
  manufacturing/internals/display_panel/README.md
Due: none

ocd patching; updates #1303
  software/controller/controller.sh
  software/controller/integration_tests/deploy_test.sh
  software/controller/integration_tests/run_all.sh
  software/controller/platformio/deploy.sh
  software/controller/platformio/stlink.cfg
Due: controller

controller script does all integration functions; updates #1303
  software/controller/controller.sh
  software/controller/platformio/device_lookup_table.txt
Due: controller

added some documentation; updates #1303
  software/controller/controller.sh
Due: controller

more clever debug port scans; updates #1303
  software/controller/controller.sh
  software/utils/debug/debug_cli.py
  software/utils/debug/device_list.json
  software/utils/debug/lib/serial_detect.py
Due: controller

smarter device detection and connection routines; updates #1303
  software/utils/debug/controller_debug.py
  software/utils/debug/debug_cli.py
  software/utils/debug/lib/serial_detect.py
  software/utils/debug/test_data.py
  software/utils/debug/test_scenario.py
  software/utils/debug/util/__init__.py
  software/utils/debug/util/colors.py
  software/utils/debug/util/error.py
  software/utils/debug/util/protocols/network_protocol_pb2.py
  software/utils/debug/util/serial_detect.py
  software/utils/debug/var_info.py
Due: none

move manifest to gdrive; updates #1303
  .gitignore
  software/controller/controller.sh
  software/utils/debug/device_list.json
  software/utils/debug/util/serial_detect.py
Due: controller

factored out device manifest to be accessed via debug interface; updates #1303
  .gitignore
  software/controller/controller.sh
  software/controller/platformio/device_lookup_table.txt
  software/utils/debug/debug_cli.py
  software/utils/debug/util/devices.py
  software/utils/debug/util/serial_detect.py
Due: controller

cleanup; updates #1303
  software/utils/debug/util/devices.py
Due: none

print HLA info before deploying; updates #1303
  software/controller/controller.sh
Due: controller

some restructuring of debug libs; updates #1303
  .gitignore
  software/common/common.sh
  software/controller/controller.sh
  software/controller/platformio/README.md
  software/utils/debug/debug.sh
  software/utils/debug/debug_cli.py
  software/utils/debug/debug_lib/__init__.py
  software/utils/debug/debug_lib/controller_debug.py
  software/utils/debug/debug_lib/debug_types.py
  software/utils/debug/debug_lib/test_data.py
  software/utils/debug/debug_lib/test_scenario.py
  software/utils/debug/debug_lib/var_info.py
  software/utils/debug/unit_test.py
  software/utils/debug/util/protocols/network_protocol_pb2.py
  software/utils/debug/util/serial_detect.py
Due: controller, common

debugger runs, sanity checks when connecting; updates #1303
  software/utils/debug/debug_cli.py
  software/utils/debug/debug_lib/controller_debug.py
  software/utils/debug/debug_lib/test_scenario.py
  software/utils/debug/debug_lib/var_info.py
Due: none

device manifest is cached locally; updates #1303
  software/utils/debug/debug_cli.py
  software/utils/debug/util/serial_detect.py
Due: none

debugger works without manifest; updates #1303
  software/utils/debug/debug_cli.py
  software/utils/debug/util/serial_detect.py
Due: none

documentation updates; updates #1303
  software/controller/README.md
  software/controller/integration_tests/README.md
  software/utils/debug/README.md
  software/utils/debug/debug_cli.py
Due: controller

documentation updates; updates #1303
  software/controller/README.md
  software/controller/controller.sh
  software/utils/debug/util/serial_detect.py
Due: controller

additional fixes; updates #1303
  software/controller/README.md
  software/controller/controller.sh
  software/utils/debug/debug.sh
  software/utils/debug/debug_cli.py
  software/utils/debug/debug_lib/controller_debug.py
Due: controller

controller obeys SN variable when calling debugger; updates #1303
  software/controller/README.md
  software/controller/controller.sh
Due: controller

Update software/controller/README.md
  software/controller/README.md
Due: controller

updated integration tests readme; updates #1303
  software/controller/integration_tests/README.md
Due: controller

Update software/controller/integration_tests/README.md
  software/controller/integration_tests/README.md
Due: controller

stepperonline.com added to link checker exceptions; updates #1303
  .circleci/config.yml
Due: none

Path conditions:
  controller: any of: software/controller
  gui: any of: software/gui
  common: any of: software/common
